
<!-- footer -->
<footer id="footer" class="footer border-0 bg-dark mt-0">
  <div class="container">
    <div class="row text-center text-lg-start ">
      <div class="col py-3">
        <div class="row">
          <div class="col-lg-5 mt-5">
            <div class="px-5 px-lg-0 pe-lg-5 appear-animation"
              data-appear-animation="fadeIn" data-appear-animation-delay="0">
              <h3
                class="custom-font-1 footer-text font-weight-semibold footer-text"
                style=" padding-top: 10px;">Contact us <span
                  class="custom-decoration-2 d-inline-block">to
                  achieve</span>your digital goals!</h3>
            </div>

            <a href="/ContactUs"
              class="btn btn-modern btn-effect-4 btn-rounded btn-light text-dark text-hover-primary text-transform-none text-4 font-weight-medium mt-2 mb-2">Let's
              Talk! <i class="fas fa-arrow-right rotate-l-45 ms-2"></i></a>
          </div>
          <div class="col-lg-7">
            <div class="row mt-5 ">
              <div class="col-lg-4">
                <ul class="list list-unstyled text-4">
                  <li><a href="/" class="text-color-hover-primary">Home</a></li>

                  <li><a href="/about" class="text-color-hover-primary">About
                      Us</a></li>
                  <li><a href="/services"
                      class="text-color-hover-primary">Services</a></li>
                  <li><a href="/Gallery"
                      class="text-color-hover-primary">Gallery</a></li>
                  <li><a href="/IndustrySolutions"
                      class="text-color-hover-primary">Industry
                      Solutions</a></li>
                  <li><a href="/ContactUs"
                      class="text-color-hover-primary">Let's Talk!</a></li>
                </ul>
              </div>
              <div class="mt-4 mt-lg-0 col-lg-4">
                <h4 class="text-8 ls-0 opacity-5 font-weight-medium">Let's
                  Talk</h4>
                <ul class="list list-unstyled mx-auto mx-lg-0 mt-4">
                  <li
                    class="d-flex justify-content-center justify-content-lg-start align-items-center mb-4">
                    <a href="mailto:rajkamal@fzami.world"
                      class="d-inline-flex align-items-center text-decoration-none text-light text-color-hover-primary font-weight-semibold text-6">rajkamal@fzami.world</a>
                  </li>
                  <li
                    class="d-flex justify-content-center justify-content-lg-start align-items-center mb-4">
                    <a href="tel:+966568219072"
                      class="d-inline-flex align-items-center text-decoration-none text-light text-color-hover-primary font-weight-semibold text-6">+966568219072</a>
                  </li>
                  <li
                    class="d-flex justify-content-center justify-content-lg-start align-items-center mb-4">
                    <a
                      class="d-inline-flex align-items-center text-decoration-none font-weight-semibold text-6">Chennai,
                      India</a>
                  </li>
                  <li>
                    <!-- <a href="#" class="d-inline-flex align-items-center text-decoration-none text-light text-color">Address</a> -->
                  </li>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <img src="assets/img/logos/facebbok.png" alt="Facebook">
                    </a>

                    <a href="https://www.instagram.com/" target="_blank">
                      <img src="assets/img/logos/Instagram.png" alt="Instagram">
                    </a>

                    <a href="https://x.com/" target="_blank">
                      <img src="assets/img/logos/X.png" alt="X">
                    </a>

                    <a href="https://www.youtube.com/" target="_blank">
                      <img src="assets/img/index/Youtube .png" alt="YouTube"
                        style="height: 40px; width: 40px;">
                    </a>

                  </li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-transparent pb-2">
    <div class="container">
      <div class="row">
        <div class="col text-center text-lg-start mb-2">
          <p class="text-3 mb-0 text-light opacity-5 text-center">FZAMI ARSH | ©
            2024 All Rights Reserved , Developed by <a
              href="https://thereciprocalsolutions.com/"
              class="para2 ABCD text-hover-primary"> @ The Reciprocal
              Solutions</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<section title="floating">
  <a href="tel:+966568219072" class="float float-p" target="_blank">
    <img src="/assets/img/call1.gif" alt="call_now" class="zoom-image">
  </a>

  <a
    href="https://api.whatsapp.com/send/?phone=y+966568219072&text=Fzami Arsh!&type=phone_number&app_absent=0"
    class="float float-w" target="_blank">
    <img src="/assets/img/wcall.gif" alt="call_now" class="zoom-image">
  </a>

</section>

<style>
  .float{
        position: fixed;
        bottom: 30px;
        width: 50px;
        height: 50px;
        z-index: 100;
    }
    .float-p{
        left: 25px;
        padding: 5px;

        border-radius: 50%;
    }
    .float-w{
        right: 25px;
    }
    .zoom-image {
    transform: scale(2.0); 
    display: block;
    margin: 0 auto; 
}
.zoom-image {
    transition: transform 0.3s ease; 
}

.zoom-image:hover {
    transform: scale(3.4);
}
img{
  max-width: 80%;
  height: auto;
}
</style>

<!-- end-footer -->