<!-- footer -->
<footer id="footer" class="footer border-0 bg-dark mt-0">
  <div class="container">
    <div class="row text-center text-lg-start ">
      <div class="col py-3">
        <div class="row">
          <div class="col-lg-7">
            <div class="px-5 px-lg-0 pe-lg-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
              <h3 class="custom-font-1 font-weight-semibold">Ready to take you to the next level? <span class="custom-decoration-2 d-inline-block">next level !</span>Get in touch with us</h3>
            </div>

            <a href="#" class="btn btn-modern btn-effect-4 btn-rounded btn-light text-dark text-hover-primary text-transform-none text-4 font-weight-medium mt-2 mb-2">Let's Talk! <i class="fas fa-arrow-right rotate-l-45 ms-2"></i></a>

            <div class="row mt-5">
              <div class="col-lg-4">
                <ul class="list list-unstyled text-4">
                  <li><a href="/index" class="text-color-hover-primary">Home</a></li>

                  <li><a href="/about" class="text-color-hover-primary">About Us</a></li>
                  <li><a href="/sevices" class="text-color-hover-primary">Services</a></li>
                  <li><a href="/Gallery" class="text-color-hover-primary">Gallery</a></li>
                  <li><a href="/IndustrySolutions" class="text-color-hover-primary">Industry Solutions</a></li>
                  <li><a href="/Contact_Us" class="text-color-hover-primary">Let's Talk!</a></li>
                </ul>
              </div>
              <div class="mt-4 mt-lg-0 col-lg-4">
                <h4 class="text-8 ls-0 opacity-5 font-weight-medium">Let's Talk</h4>
                <ul class="list list-unstyled mx-auto mx-lg-0 mt-4">
                  <li class="d-flex justify-content-center justify-content-lg-start align-items-center mb-4">
                    <a href="mailto:porto@portotheme.com" class="d-inline-flex align-items-center text-decoration-none text-light text-color-hover-primary font-weight-semibold text-6">porto@domain.com</a>
                  </li>
                  <li class="d-flex justify-content-center justify-content-lg-start align-items-center mb-4">
                    <a href="tel:8001234567" class="d-inline-flex align-items-center text-decoration-none text-light text-color-hover-primary font-weight-semibold text-6">800-123-4567</a>
                  </li>
                  <li>
                    <a href="#" class="d-inline-flex align-items-center text-decoration-none text-light text-color">Address</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <img src="assets/img/logos/facebbok.png" alt="Facebook">
                    </a>
                    
                    <a href="https://www.instagram.com/" target="_blank">
                      <img src="assets/img/logos/Instagram.png" alt="Instagram">
                    </a>
                    
                    <a href="https://x.com/" target="_blank">
                      <img src="assets/img/logos/X.png" alt="X">
                    </a>
                    
                    <a href="https://www.youtube.com/" target="_blank">
                      <img src="assets/img/logos/Youtube.png" alt="YouTube">
                    </a>
                    
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-lg-5 pt-5">
            <div class="cascading-images-wrapper pt-5 p-lg-0">
              <div class="cascading-images pt-lg-5 position-relative">
                <div class="rotate-l-15">
                  <img src="assets/img/demos/marketing-1/concept/concept-12.jpg" class="custom-border-radius-1 appear-animation" width="229" alt="" data-appear-animation="expandIn" data-appear-animation-duration="600ms" />
                </div>
                <div class="position-absolute rotate-r-15 w-100" style="top: 20%; left: 54%;">
                  <img src="assets/img/demos/marketing-1/concept/concept-13.jpg" class="custom-border-radius-1 appear-animation" width="233" alt="" data-appear-animation="expandIn" data-appear-animation-delay="300" data-appear-animation-duration="600ms" />
                </div>
                <div class="position-absolute w-100" style="top: 35%; left: 30%;">
                  <img src="assets/img/demos/marketing-1/concept/concept-11.jpg" class="custom-border-radius-1 appear-animation" width="225" alt="" data-appear-animation="expandIn" data-appear-animation-delay="600" data-appear-animation-duration="600ms" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright bg-transparent pb-2">
    <div class="container">
      <div class="row">
        <div class="col text-center text-lg-start mb-2">
          <p class="text-3 mb-0 text-light opacity-5 text-center">FZAMI ARSH | © 2024 . All Rights Reserved.Developed by<a href="https://thereciprocalsolutions.com/" class="para2 text-hover-primary"> @ The Reciprocal Solutions</a></p> 
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end-footer -->