<header id="header" class="header-transparent"  data-plugin-options="{'stickyScrollUp': true, 'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 1, 'stickyHeaderContainerHeight': 100}">
  <div class="header-body border-0 box-shadow-none h-auto">
      <div class="header-container container-fluid p-static">
          <div class="header-row py-3 px-xl-5">
              <div class="header-column">
                  <div class="header-row">
                      <div class="header-logo">
                          <a href="/">
                              <img alt="Porto" width="130" height="32" src="assets/img/logo1.png">
                          </a>
                      </div>
                  </div>
              </div>
              <div class="header-column justify-content-end">
                  <div class="header-row">
                      <div class="header-nav header-nav-links">
                          <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-border-radius header-nav-main-text-capitalize header-nav-main-text-size-4 header-nav-main-arrows header-nav-main-full-width-mega-menu header-nav-main-mega-menu-bg-hover header-nav-main-effect-2">
                              <nav class="collapse">
                                  <ul class="nav nav-pills" id="mainNav">
                                      <li>
                                          <a class="nav-link " href="/">
                                              Home
                                          </a>
                                      </li>													

                                      <li>
                                          <a class="nav-link" id ="about" href="/about">
                                              About Us
                                          </a>
                                      </li>
                                      <li class="dropdown dropdown-full-color dropdown-dark">
                                                                            <a href="/sevices" class="dropdown-item dropdown-toggle text-hover-primary">Our Services</a>

                                          <ul class="dropdown-menu">
                                              <li>
                                                  <a href="/IT" class="nav-link">IT Infrastructure
                                                  </a>
                                              </li>
                <li>
                  <a href="/AcademicTraining" class="nav-link">Academic Training
                  </a>
                </li>
                <li>
                  <a href="/EClassroomSolutions" class="nav-link">E-Classroom Solutions
                  </a>
                </li>
                <li>
                  <a href="/DigitalTransformation" class="nav-link">Digital Transformation
                  </a>
                </li>
                                              <li>
                                                  <a href="/Gen_AI" class="nav-link">Gen AI</a>
                                              </li>
                                          </ul>
                                      </li>													
                                      <li>
                                          <a class="nav-link" href="/Gallery">
                                              Gallery
                                          </a>
                                      </li>
                                      <li>
                                          <a class="nav-link" href="/IndustrySolutions">
                                              Industry Solutions
                                          </a>
                                      </li>
                                      <!-- <li class="dropdown dropdown-mega">
                                          <a class="dropdown-item dropdown-toggle" href="elements.html">Elements</a>
                                          <ul class="dropdown-menu border-top border-top-light mt-0">

                                              <li>
                                                  <div class="dropdown-mega-content container container-xl-custom px-2">
                                                      <div class="row px-1">
                                                          <div class="col-lg-3">
                                                              <span class="dropdown-mega-sub-title">Elements 1</span>
                                                              <ul class="dropdown-mega-sub-nav">
                                                                  <li><a class="dropdown-item" href="elements-accordions.html">Accordions</a></li>
                                                                  <li><a class="dropdown-item" href="elements-alerts.html">Alerts</a></li>
                                                                  <li><a class="dropdown-item" href="elements-animations.html">Animations  <span class="tip tip-dark p-relative bottom-2">hot</span></a></li>
                                                                  <li><a class="dropdown-item" href="elements-arrows.html">Arrows</a></li>
                                                                  <li><a class="dropdown-item" href="elements-badges.html">Badges</a></li>
                                                                  <li><a class="dropdown-item" href="elements-before-after.html">Before / After</a></li>
                                                                  <li><a class="dropdown-item" href="elements-blockquotes.html">Blockquotes</a></li>
                                                                  <li><a class="dropdown-item" href="elements-buttons.html">Buttons</a></li>
                                                                  <li><a class="dropdown-item" href="elements-call-to-action.html">Call to Action</a></li>
                                                                  <li><a class="dropdown-item" href="elements-cards.html">Cards</a></li>
                                                                  <li><a class="dropdown-item" href="elements-carousels.html">Carousels</a></li>
                                                                  <li><a class="dropdown-item" href="elements-cascading-images.html">Cascading Images</a></li>
                                                              </ul>
                                                          </div>
                                                          <div class="col-lg-3">
                                                              <span class="dropdown-mega-sub-title">Elements 2</span>
                                                              <ul class="dropdown-mega-sub-nav">
                                                                  <li><a class="dropdown-item" href="elements-content-rotate.html">Content Rotate</a></li>
                                                                  <li><a class="dropdown-item" href="elements-countdowns.html">Countdowns</a></li>
                                                                  <li><a class="dropdown-item" href="elements-counters.html">Counters</a></li>
                                                                  <li><a class="dropdown-item" href="elements-dividers.html">Dividers</a></li>
                                                                  <li><a class="dropdown-item" href="elements-forms.html">Forms</a></li>
                                                                  <li><a class="dropdown-item" href="elements-headings.html">Headings</a></li>
                                                                  <li><a class="dropdown-item" href="elements-icons.html">Icons</a></li>
                                                                  <li><a class="dropdown-item" href="elements-icon-boxes.html">Icon Boxes</a></li>
                                                                  <li><a class="dropdown-item" href="elements-image-frames.html">Image Frames  <span class="tip tip-dark p-relative bottom-2">hot</span></a></li>
                                                                  <li><a class="dropdown-item" href="elements-image-gallery.html">Image Gallery</a></li>
                                                                  <li><a class="dropdown-item" href="elements-image-hotspots.html">Image Hotspots</a></li>
                                                                  <li><a class="dropdown-item" href="elements-lightboxes.html">Lightboxes</a></li>
                                                              </ul>
                                                          </div>
                                                          <div class="col-lg-3">
                                                              <span class="dropdown-mega-sub-title">Elements 3</span>
                                                              <ul class="dropdown-mega-sub-nav">
                                                                  <li><a class="dropdown-item" href="elements-lists.html">Lists</a></li>						
                                                                  <li><a class="dropdown-item" href="elements-maps.html">Maps</a></li>
                                                                  <li><a class="dropdown-item" href="elements-medias.html">Medias</a></li>
                                                                  <li><a class="dropdown-item" href="elements-modals.html">Modals</a></li>
                                                                  <li><a class="dropdown-item" href="elements-parallax.html">Parallax</a></li>
                                                                  <li><a class="dropdown-item" href="elements-particles.html">Particles</a></li>
                                                                  <li><a class="dropdown-item" href="elements-posts.html">Posts</a></li>
                                                                  <li><a class="dropdown-item" href="elements-pricing-tables.html">Pricing Tables</a></li>
                                                                  <li><a class="dropdown-item" href="elements-process.html">Process</a></li>
                                                                  <li><a class="dropdown-item" href="elements-progressbars.html">Progress Bars</a></li>
                                                                  <li><a class="dropdown-item" href="elements-random-images.html">Random Images</a></li>
                                                                  <li><a class="dropdown-item" href="elements-read-more.html">Read More</a></li>
                                                              </ul>
                                                          </div>
                                                          <div class="col-lg-3">
                                                              <span class="dropdown-mega-sub-title">Elements 4</span>
                                                              <ul class="dropdown-mega-sub-nav">
                                                                  <li><a class="dropdown-item" href="elements-sections.html">Sections</a></li>
                                                                  <li><a class="dropdown-item" href="elements-shape-dividers.html">Shape Dividers</a></li>
                                                                  <li><a class="dropdown-item" href="elements-star-ratings.html">Star Ratings</a></li>
                                                                  <li><a class="dropdown-item" href="elements-sticky-elements.html">Sticky Elements</a></li>
                                                                  <li><a class="dropdown-item" href="elements-tables.html">Tables</a></li>
                                                                  <li><a class="dropdown-item" href="elements-tabs.html">Tabs</a></li>
                                                                  <li><a class="dropdown-item" href="elements-testimonials.html">Testimonials</a></li>
                                                                  <li><a class="dropdown-item" href="elements-toggles.html">Toggles</a></li>
                                                                  <li><a class="dropdown-item" href="elements-tooltips-popovers.html">Tooltips & Popovers</a></li>
                                                                  <li><a class="dropdown-item" href="elements-typography.html">Typography</a></li>
                                                                  <li><a class="dropdown-item" href="elements-word-rotator.html">Word Rotator</a></li>
                                                                  <li><a class="dropdown-item" href="elements-360-image-viewer.html">360ยบ Image Viewer</a></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </li>
                                          </ul>
                                      </li> -->
                                      <li>
                                          <a class="nav-link nav-link-custom-1" href="/ContactUs">
                                              <span>Let's Talk!</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                          <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                              <i class="fas fa-bars"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>