<header id="header" class="header-transparent"
    data-plugin-options="{'stickyScrollUp': true, 'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 1, 'stickyHeaderContainerHeight': 100}">
    <div class="header-body border-0 box-shadow-none h-auto">
        <div class="header-container container-fluid p-static">
            <div class="header-row py-3 px-xl-5">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Porto" width="auto" height="60"
                                    src="assets/img/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-links">
                            <div
                                class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-border-radius header-nav-main-text-capitalize header-nav-main-text-size-4 header-nav-main-arrows header-nav-main-full-width-mega-menu header-nav-main-mega-menu-bg-hover header-nav-main-effect-2">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="nav-link " href="/">
                                                Home
                                            </a>
                                        </li>

                                        <li>
                                            <a class="nav-link" id="about"
                                                href="/about">
                                                About Us
                                            </a>
                                        </li>
                                        <li
                                            class="dropdown dropdown-full-color dropdown-dark">
                                            <a href="/sevices"
                                                class="dropdown-item dropdown-toggle text-hover-primary">Our
                                                Services</a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/IT"
                                                        class="nav-link">IT
                                                        Infrastructure
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/AcademicTraining"
                                                        class="nav-link">Academic
                                                        Training
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="/EClassroomSolutions"
                                                        class="nav-link">E-Classroom
                                                        Solutions
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="/DigitalTransformation"
                                                        class="nav-link">Digital
                                                        Transformation
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Gen_AI"
                                                        class="nav-link">Gen
                                                        AI</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="/Gallery">
                                                Gallery
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link"
                                                href="/IndustrySolutions">
                                                Industry Solutions
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a
                                                class="nav-link nav-link-custom-1"
                                                href="/ContactUs">
                                                <span>Let's Talk!</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav"
                                data-bs-toggle="collapse"
                                data-bs-target=".header-nav-main nav" style="position: sticky;">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
	
    const currentPage = window.location.pathname;
  
    const navLinks = document.querySelectorAll('.nav-link');
  
    navLinks.forEach(link => {
      
      if (link.getAttribute('href') === currentPage) {
        link.classList.add('active');
      }
    });
</script>