<html>

<head>
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: #E0E0E0;
            font-family: 'Roboto', sans-serif;
        }

        #invoice {
            position: relative;
            top: 0px;
            margin: 0 auto;
            max-width: 600px;
            border-radius: 5px;
            background-color: #ffffff;
        }

        #invoice-top {
            min-height: 50px;
            padding: 10px 10px;
            border-radius: 5px;
        }

        #invoice-top .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #invoice-bot {
            padding: 20px;
            min-height: 250px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .title {
            padding: 0px 20px;
            text-align: center;
        }

        .itemtext {
            font-weight: 600;
        }

        .text-blue {
            color: rgb(0, 8, 81);
        }

        td {
            padding: 0px 0px 10px;
        }

        .mt-4 {
            margin-top: 20px;
        }

        .ml-4 {
            margin-left: 20px;
        }

        .logo {
            height: 70px;
        }

        .contact h5 {
            color: black;
            display: flex;
            align-items: center;
            margin: 10px 0px 0px;
        }<html>

<head>
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: #E0E0E0;
            font-family: 'Roboto', sans-serif;
        }

        #invoice {
            position: relative;
            top: 0px;
            margin: 0 auto;
            max-width: 600px;
            border-radius: 5px;
            background-color: #ffffff;
        }

        #invoice-top {
            min-height: 50px;
            padding: 10px 10px;
            border-radius: 5px;
        }

        #invoice-top .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #invoice-bot {
            padding: 20px;
            min-height: 250px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .title {
            padding: 0px 20px;
            text-align: center;
        }

        .itemtext {
            font-weight: 600;
        }

        .text-blue {
            color: rgb(0, 8, 81);
        }

        td {
            padding: 0px 0px 10px;
        }

        .mt-4 {
            margin-top: 20px;
        }

        .ml-4 {
            margin-left: 20px;
        }

        .logo {
            height: 70px;
        }

        .contact h5 {
            color: black;
            display: flex;
            align-items: center;
            margin: 10px 0px 0px;
        }

        .contact h5 a {
            color: #072039;
            text-decoration: underline;
            margin-left: 10px;
            font-size: 12px;
        }

        .note {
            color: rgb(162, 4, 4);
            font-weight: 700;
        }
    </style>
</head>

<body>

   <h1>cheacjosndpgn ka dikbfs</h1>
</body>

</html>


        .contact h5 a {
            color: #072039;
            text-decoration: underline;
            margin-left: 10px;
            font-size: 12px;
        }

        .note {
            color: rgb(162, 4, 4);
            font-weight: 700;
        }
    </style>
</head>

<body>
  
    <p><strong>Name:</strong> <%= data.name %></p>
    <p><strong>Email:</strong> <%= data.email %></p>
    <p><strong>Category:</strong> <%= data.category %></p>
    <p><strong>Message:</strong> <%= data.message %></p>
    
</body>
</html>