<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themazine.com/html/sap/preview/features.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2024 06:45:05 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" href="assets/media/titleLogo.png" type="image/x-icon" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/animate.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css" crossorigin="anonymous" />

  <title>Features - Fzami</title>
</head>

<body class="position-relative">
  <%- include("./partials/header") -%>

    <section
      class="row mx-0 team-banner align-items-center position-relative pt-170px pt-lg-120px mt-sm-100px pt-sm-30px pb-80px pb-lg-60px mb-60px">

      <div class="container">
        <div class="row align-items-center flex-md-row-reverse">

          <div class="col-md-6 text-center text-md-right wow fadeInLeft animated" data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
            <img src="/assets/media/new/Home - Industry Solution.png" alt="" class="img-fluid image-1" width="100%"
              height="100%">
          </div>

          <div class="col-md-6 text-center text-md-left pt-sm-20px">

            <h2
              class="text-uppercase fz-56 fz-lg-40 fz-md-30 fw-600 font-poppins text-white lh-1-17 mb-20px mb-sm-10px">
              Industry solutions
            </h2>
            <p class="text-white mb-25px mb-lg-20px  font-poppins fz-16 fz-md-14 lh-1-5 maw-650px mb-80px mb-lg-40px">
              Revolutionizing Operations with Human-Centric Technology
            </p>

          </div>

        </div>
      </div>

    </section>

    <!-- <section
      class="row mx-0 home-about-banner align-items-center position-relative pt-230px pt-lg-130px pt-xs-100px pb-55px"
    >
      <div class="container feature-page-v">
        <h2
          class="fz-56 fz-lg-40 fz-md-30 fw-600 font-poppins text-white lh-1-17 mb-20px"
        >
          Industry solutions
        </h2>
        <p
          class="text-white font-poppins fz-20 fz-lg-18 fz-md-16 lh-1-5 maw-650px mb-80px mb-lg-40px"
        >
          Revolutionizing Operations with Human-Centric Technology
        </p>
        <div
          class="row justify-content-center position-relative pt-70px pt-xs-0px mb-75px"
        >
          <img
            src="assets/media/features/1.png"
            alt=""
            class="img-fluid t-0px l-0px z-index-0 home-about-banner-feature-img"
          />
          <div
            class="col-sm-7 col-md-7 col-lg-6 col-xl-4 position-relative z-index-1"
          >
            <div
              class="row mx-0 py-50px px-40px py-md-35px px-md-30px bg-white section-white-f4-shadow"
            >
              <p
                class="font-poppins fz-20 fz-lg-18 fz-md-16 lh-1-5 color-dark-blue-theme mb-20px"
              >
                Industry 5.0 merges technology with human creativity to
                revolutionize operations. Fzami implements collaborative
                robots, AI personalization, and smart factories to enhance
                productivity, safety, and sustainability. Embrace the future and
                drive growth with Industry 5.0.
              </p>
            </div>
          </div>
          <img
            src="assets/media/features/2.png"
            alt=""
            class="img-fluid t-0px r-0px z-index-0 home-about-banner-feature-img"
          />
        </div>
      </div>
    </section> -->

    <section class="row mx-0 pt-30px pb-105px latest-blogs-1 resource-version">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Collaborative Robots (Cobots).png" alt=""
                class="card-img-top image-2" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Collaborative Robots (Cobots)
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Deploying robots that work alongside human operators to
                  enhance productivity and safety.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - AI-Driven Personalization.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  AI-Driven Personalization
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Using AI to tailor products and services to individual
                  customer needs and preferences.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Eco-Friendly Manufacturing Technologies.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Eco-Friendly Manufacturing Technologies
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Implementing green technologies and processes to reduce carbon
                  footprints and waste.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Supply Chain Digital Twins.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Supply Chain Digital Twins
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Creating digital replicas of supply chains for real-time
                  monitoring and optimization.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - IOT.png" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  IoT-Enabled Smart Factories
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Developing interconnected manufacturing environments for
                  improved efficiency and data-driven operations.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Predictive Analytics for Maintenance.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Predictive Analytics for Maintenance
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Utilizing AI to predict equipment failures and optimize
                  maintenance schedules.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - AR_VR for Training and Maintenance.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  AR/VR for Training and Maintenance
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Using augmented and virtual reality to enhance employee
                  training and maintenance procedures.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Big Data Analytics.png" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Big Data Analytics
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Analyzing large datasets to uncover insights and drive
                  strategic decisions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Cybersecurity Solutions.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Cybersecurity Solutions
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Implementing robust security measures to protect industrial
                  systems and data from cyber threats.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Modern Production.png" alt="" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Flexible and Modular Production Systems
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Adopting adaptable production systems to quickly respond to
                  market changes and demands.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Human-Centric Interfaces.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Human-Centric Interfaces
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Developing user-friendly interfaces that improve human-machine
                  interaction and collaboration.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 p-15px">
            <div class="latest-blog-1-style card border-0 wow fadeInUp shadow" data-wow-delay="0ms"
              data-wow-duration="1500ms" onmouseenter="this.classList.remove('shadow')"
              onmouseleave="this.classList.add('shadow')">
              <img src="assets/media/new/Industry solutions - Sustainable Resource Management.png" alt=""
                class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title latest-blog-1-style-title font-poppins fz-20 fz-lg-18">
                  Sustainable Resource Management
                </h5>
                <p class="latest-blog-1-style-meta fz-14">
                  Using AI and IoT to optimize the use of resources, reduce
                  waste, and enhance sustainability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer") -%>
      <!--Search Popup-->
      <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn">
          <span class="fas fa-times"></span>
        </div>
        <div class="popup-inner">
          <div class="overlay-layer"></div>
          <div class="search-form">
            <form method="post" action="https://themazine.com/html/sap/preview/index.html">
              <div class="form-group">
                <fieldset>
                  <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here"
                    required="" />
                  <input type="submit" value="Search Now!" class="theme-btn" />
                </fieldset>
              </div>
            </form>

            <br />
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
              <li><a href="#">Software</a></li>
              <li><a href="#">Sass</a></li>
              <li><a href="#">Less</a></li>
              <li><a href="#">Css</a></li>
              <li><a href="#">Jquery</a></li>
            </ul>
          </div>
        </div>
      </div>

      <style>
        .search-popup {
          position: fixed;
          left: 0px;
          bottom: -100%;
          width: 100%;
          height: 100%;
          z-index: 999999999999999;
          visibility: hidden;
          opacity: 0;
          overflow: auto;
          transform: scale(0, 0);
          background: rgba(0, 0, 0, 0.8);
          transition: all 700ms ease;
          -moz-transition: all 700ms ease;
          -webkit-transition: all 700ms ease;
          -ms-transition: all 700ms ease;
          -o-transition: all 700ms ease;
        }

        .search-popup .overlay-layer {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          display: block;
        }

        .search-popup.popup-visible {
          bottom: 0;
          visibility: visible;
          opacity: 1;
          transform: scale(1, 1);
        }

        .search-popup .close-search {
          position: absolute;
          right: 25px;
          top: 25px;
          font-size: 22px;
          color: #ffffff;
          cursor: pointer;
          z-index: 5;
        }

        .search-popup .close-search:hover {
          opacity: 0.7;
        }

        .search-popup .search-form {
          position: relative;
          padding: 0px 15px 0px;
          max-width: 1024px;
          margin: 0 auto;
          margin-top: 200px;
        }

        .search-popup .search-form fieldset {
          position: relative;
          border: 7px solid rgba(255, 255, 255, 0.5);
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          -moz-border-radius: 12px;
        }

        .search-popup .search-form fieldset input[type="search"] {
          position: relative;
          height: 70px;
          padding: 20px 220px 20px 30px;
          background: #ffffff;
          line-height: 30px;
          font-size: 24px;
          color: #233145;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;
          -moz-border-radius: 7px;
        }

        .search-popup .search-form fieldset input[type="submit"] {
          position: absolute;
          display: block;
          right: 0px;
          top: 0px;
          text-align: center;
          width: 220px;
          height: 70px;
          padding: 20px 10px 20px 10px;
          color: #ffffff !important;
          background-color: #222222;
          line-height: 30px;
          font-size: 20px;
          color: #233145;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 0px 7px 7px 0px;
          -moz-border-radius: 0px 7px 7px 0px;
          -ms-border-radius: 0px 7px 7px 0px;
          -o-border-radius: 0px 7px 7px 0px;
          -webkit-border-radius: 0px 7px 7px 0px;
        }

        .search-popup .search-form fieldset input[type="submit"]:hover {
          background: #000000;
        }

        .search-popup h3 {
          font-size: 24px;
          color: #ffffff;
          margin-bottom: 20px;
          text-align: center;
        }

        .search-popup .recent-searches {
          font-size: 16px;
          color: #ffffff;
          text-align: center;
        }

        .search-popup .recent-searches li {
          display: inline-block;
          margin: 0px 10px 10px 0px;
        }

        .search-popup .recent-searches li a {
          display: block;
          line-height: 24px;
          border: 1px solid #ffffff;
          padding: 7px 15px;
          color: #ffffff;
          border-radius: 3px;
        }

        .search-popup .recent-searches li a:hover {
          color: #000000;
          border-color: #ffffff;
          background-color: #ffffff;
        }

        @media only screen and (max-width: 599px) {
          .search-popup .search-form fieldset input[type="search"] {
            padding-right: 20px;
          }

          .search-popup .search-form fieldset input[type="submit"] {
            position: relative;
            width: 100%;
          }
        }
      </style>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://kit.fontawesome.com/41dcbbb4c1.js" crossorigin="anonymous"></script>
      <script src="assets/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/popper.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/wow.js" crossorigin="anonymous"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/script.js" crossorigin="anonymous"></script>
</body>

<!-- Mirrored from themazine.com/html/sap/preview/features.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2024 06:45:07 GMT -->

</html>
