<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Academic Training</title>

	<meta name="keywords" content="WebSite Template" />
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts"
		href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="assets/css/theme.css">
	<link rel="stylesheet" href="assets/css/theme-elements.css">
	<link rel="stylesheet" href="assets/css/theme-blog.css">
	<link rel="stylesheet" href="assets/css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">
	<link rel="stylesheet" href="assets/css/demos/demo-creative-agency-2.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-marketing-1.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body data-plugin-cursor-effect>
	<div class="body">
		<!--Header-->
		<%- include("./partials/header") -%>
			<!-- end-Header -->

			<div role="main" class="main">

				<!-- banner -->
				<section class="page-header page-header-modern page-header-background parallax mt-0"
					data-plugin-parallax data-plugin-options="{'speed': 1.2}"
					data-image-src="assets/img/demos/marketing-1/generic/generic-8.jpg">
					<div class="container">
						<div class="row py-5">
							<div class="col align-self-center p-static">
								<div data-plugin-float-element
									data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 0.4, 'transition': true, 'transitionDuration': 1000}">
									<ul class="breadcrumb d-flex text-4-5">
										<li><a href="/about"
												class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">Home</a>
										</li>
										<li class="active text-color-primary text-transform-none">Academic Training</li>
									</ul>
									<h1 class="text-color-dark font-weight-semi-bold text-lg-12 appear-animation"
										data-appear-animation="fadeIn" data-appear-animation-delay="0"><mark
											class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary">Academic
											Training</mark></h1>
								</div>
							</div>

						</div>
					</div>
				</section>
				<!-- end-banner -->

				<!-- courses -->



				<!-- end-courses -->
				





				<!-- about -->
				<div class="container py-5">
					<div class="row py-5 justify-content-center">
						<div class="col-lg-8 text-center">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								.
								<h3 class="custom-font-1 mb-0">Kickstart your career in cutting-edge <strong
										class="text-primary">technology</strong> sectors and learn from <strong
										class="text-secondary">industry</strong> experts and peers worldwide.</h3>
							</div>
							<div class="p-relative z-index-1 pt-5">

								<div class="d-flex mb-4 justify-content-center">
									<div class="feature-box align-items-center me-5 appear-animation"
										data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
										<div
											class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
											<i class="fa-solid fa-check-double text-secondary"></i>
										</div>
										<div class="feature-box-info line-height-2 ps-2">
											<span class="text-5 font-weight-medium text-dark negative-ls-05">AI</span>
										</div>
									</div>

									<div class="feature-box align-items-center me-5 appear-animation"
										data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
										<div
											class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
											<i class="fa-solid fa-check-double text-secondary"></i>
										</div>
										<div class="feature-box-info line-height-2 ps-2">
											<span class="text-5 font-weight-medium text-dark negative-ls-05">ML</span>
										</div>
									</div>
									<div class="feature-box align-items-center me-5 appear-animation"
										data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
										<div
											class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
											<i class="fa-solid fa-check-double text-secondary"></i>
										</div>
										<div class="feature-box-info line-height-2 ps-2">
											<span class="text-5 font-weight-medium text-dark negative-ls-05">RPA</span>
										</div>
									</div>
									<div class="feature-box align-items-center me-5 appear-animation"
										data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
										<div
											class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
											<i class="fa-solid fa-check-double text-secondary"></i>
										</div>
										<div class="feature-box-info line-height-2 ps-2">
											<span
												class="text-5 font-weight-medium text-dark negative-ls-05">Cybersecurity</span>
										</div>
									</div>



								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- end-aboutus -->

				<!-- Fast Track Your Career -->
				<div class="container">

					<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
							style="padding-top: 1000px;"></h2>
					</div>

					<div class="row">
						<div class="col">

							<div class="row align-items-center pt-4 appear-animation"
								data-appear-animation="fadeInLeftShorter">
								<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 text-center">Partner with
									industry giants</h3>
								</h3>

								<div class=" row align-items-center text-center  "
									style="display: flex; justify-content: center;">
									<div class="col-6 col-sm-4 col-xl-3 mb-5 mb-xl-4">
										<div class="appear-animation" data-appear-animation="fadeInUpShorter"
											data-appear-animation-delay="0">
											<p class="text-4"> 
											</p>
											<img src="assets/img/2.jpg" alt="" class="img-fluid">
										</div>
									</div>
									<div class="col-6 col-sm-4 col-xl-3 mb-5 mb-xl-4">
										<div class="appear-animation" data-appear-animation="fadeInUpShorter"
											data-appear-animation-delay="100">
											<p class="text-4"> 
											</p>
											<img src="assets/img/1.jpg" alt="" class="img-fluid">
										</div>
									</div>
									<div class="col-6 col-sm-4 col-xl-3 mb-5 mb-xl-4">
										<div class="appear-animation" data-appear-animation="fadeInUpShorter"
											data-appear-animation-delay="200">
											<p class="text-4"> 
											</p>
											<img src="assets/img/3.jpg" alt="" class="img-fluid">
										</div>
									</div>
								</div>



							</div>
						</div>
					</div>
				</div>
				<section class="section  section-height-3 border-0  mb-0">
					<div class="container
		
	
		
	
										div class=" container py-4 py-lg-5">
						<div class="row text-center text-lg-start py-lg-5">
							<div class="col pb-4 pt-4 mt-4">
								<div class="overflow-hidden">
									<div class="appear-animation" data-appear-animation="maskUp"
										data-appear-animation-delay="0">
										<span
											class="bg-quaternary text-secondary d-inline-block text-3-5 rounded-pill px-4 py-1 font-weight-medium me-2">Key
											Sectors:</span>
									</div>
								</div>

								<div class="row align-items-center pt-5">
									<div class="col-lg-6 col-xl-4">
										<div class="text-lg-center text-center">
											<div class="appear-animation" data-appear-animation="fadeInUpShorter"
												data-appear-animation-delay="0">
												<img width="75" src="assets/img/demos/marketing-1/svg/icon-1.svg" alt=""
													data-icon
													data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary'}" />
											</div>
										</div>
										<div class="p-relative z-index-1 pt-3">
											<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 text-center">
												Robotic Process Automation
											</h3>
											<p class="text-3-5 text-grey mb-4 pe-4">Foundations,
												Advanced certifications, and readiness workshops to
												build automation expertise across multiple industries.
											</p>
										</div>
									</div>
									<div class="col-lg-6 col-xl-4">
										<div class="text-lg-center text-center">
											<div class="appear-animation" data-appear-animation="fadeInUpShorter"
												data-appear-animation-delay="200">
												<img width="75" src="assets/img/demos/marketing-1/svg/icon-2.svg" alt=""
													data-icon
													data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary'}" />
											</div>
										</div>
										<div class="p-relative z-index-1 pt-3">
											<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 text-center">
												Artificial Intelligence & Machine Learning
											</h3>
											<p class="text-3-5 text-grey mb-4 pe-4">Training in Python,
												NLP, Data Engineering, and more to help you break into
												AI-related careers with high demand.
											</p>
										</div>
									</div>
									<div class="col-lg-6 col-xl-4">
										<div class="text-lg-center text-center">
											<div class="appear-animation" data-appear-animation="fadeInUpShorter"
												data-appear-animation-delay="400">
												<img width="75" src="assets/img/demos/marketing-1/svg/icon-3.svg" alt=""
													data-icon
													data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary'}" />
											</div>
										</div>
										<div class="p-relative z-index-1 pt-3">
											<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 text-center">
												Cybersecurity
											</h3>
											<p class="text-3-5 text-grey mb-4 pe-4">Learn to secure
												critical infrastructure and build a career in one of the
												fastest-growing tech sectors.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</section>
				<!-- end-Fast Track Your Career -->

				<!-- certfiaction -->
				<div class="container py-4 py-lg-5">
					<div class="row mb-5 pb-3">
						<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="200">
							<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
								style="padding-top: 1000px;">Certification</h2>
						</div>
						<h3 class="text-dark mb-3  ls-0 line-height-1 pl-4">RPA Certification (Blue Prism)
						</h3>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">



							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">

									<img src="assets/img/gen/Advanced Analytics.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;" />
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Developer</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Personalization.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Solution Designer
									</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Automation.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Technical Architect
									</h4>


								</div>
							</div>

						</div>
						<div class="featured-boxes featured-boxes-style-2">
							<div class="row">
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">Mobile Apps</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Creative Websites</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">SEO Optimization</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Brand Solutions</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Buttons</h4>

										</div>
									</div>
								</div>
							</div>
						</div>

						<h3 class="text-dark mb-3  ls-0 line-height-1 pl-4">AI & ML Certification

						</h3>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">



							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">

									<img src="assets/img/gen/Advanced Analytics.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;" />
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Data Engineering</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Personalization.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold"> Big Data Analysis
									</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Automation.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Deep Learning
									</h4>


								</div>
							</div>

						</div>
						<div class="featured-boxes featured-boxes-style-2">
							<div class="row">
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">Mobile Apps</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Creative Websites</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">SEO Optimization</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Brand Solutions</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Buttons</h4>

										</div>
									</div>
								</div>
							</div>
						</div>
						<h3 class="text-dark mb-3  ls-0 line-height-1 pl-4">Cisco Certification</h3>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">



							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">

									<img src="assets/img/gen/Advanced Analytics.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;" />
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Cloud</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Personalization.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">CyberOps
									</h4>


								</div>
							</div>

						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div class="card card-background-image-hover border-0"
								style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
								<div class="card-body text-center p-5">
									<img src="assets/img/gen/Automation.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px;">
									<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Data Center
									</h4>


								</div>
							</div>

						</div>
						<div class="featured-boxes featured-boxes-style-2">
							<div class="row">
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">Mobile Apps</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Creative Websites</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">SEO Optimization</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Brand Solutions</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
											<h4 class="font-weight-bold">HTML5 / CSS3 / JS</h4>

										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4 appear-animation"
									data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
									<div class="featured-box featured-box-effect-4">
										<div class="box-content">
											<i
												class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
											<h4 class="font-weight-bold">Buttons</h4>

										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
				<!-- end-certfiaction -->

				<!-- technology -->
				<section class="section bg-color-grey section-height-3 border-0  mb-0">
					<div class="container">

						<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="200">
							<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
								style="padding-top: 1000px;"">Emerging Technologies</h2>
							</div>
	
							<div class=" row">
								<div class="col">

									<div class="row align-items-center pt-4 appear-animation"
										data-appear-animation="fadeInLeftShorter">
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/style-switcher.png"
												alt="style switcher" />
										</div>
										<div class="col-md-8 ps-md-5">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Cybersecurity</strong> & Cyber
												&amp;
												Forensics

											</h2>
											<p class="text-4">Emerging technologies in Cybersecurity focus on
												protecting
												digital infrastructure through advanced solutions like network
												security,
												cloud consumer security, and infrastructure protection. With the
												rise of
												cyber threats, securing data and systems is more critical than ever.
											</p>
											<p>Cyber Forensics complements cybersecurity by equipping professionals
												to
												investigate and solve cybercrimes. Key areas include malware
												detection,
												incident response, and e-discovery, helping to trace and analyze
												digital
												evidence to mitigate security breaches effectively.</p>

										</div>
									</div>

									<hr class="solid my-5">

									<div class="row align-items-center pt-5 pb-3 appear-animation"
										data-appear-animation="fadeInRightShorter">
										<div class="col-md-8 pe-md-5 mb-5 mb-md-0">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Artificial </strong> Intelligence
											</h2>
											<p class="text-4">AI and ML are revolutionizing industries by automating
												decision-making
												and enhancing predictive capabilities. Key technologies like Natural
												Language
												Processing (NLP), Deep Learning, and Speech Recognition are driving
												innovation in
												fields such as healthcare, finance, and e-commerce.</p>

										</div>
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/style-switcher.png"
												alt="style switcher" />
										</div>
									</div>
									<hr class="solid my-5">
									<div class="row align-items-center pt-4 appear-animation"
										data-appear-animation="fadeInLeftShorter">
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/style-switcher.png"
												alt="style switcher" />
										</div>
										<div class="col-md-8 ps-md-5">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Robotic </strong> Process &amp;
												Automation (RPA)


											</h2>
											<p class="text-4">Emerging technologies in Cybersecurity focus on
												protecting
												digital infrastructure through advanced solutions like network
												security,
												cloud consumer security, and infrastructure protection. With the
												rise of
												cyber threats, securing data and systems is more critical than ever.
											</p>
											<p>Cyber Forensics complements cybersecurity by equipping professionals
												to
												investigate and solve cybercrimes. Key areas include malware
												detection,
												incident response, and e-discovery, helping to trace and analyze
												digital
												evidence to mitigate security breaches effectively.</p>

										</div>
									</div>

									<hr class="solid my-5">

									<div class="row align-items-center pt-5 pb-3 appear-animation"
										data-appear-animation="fadeInRightShorter">
										<div class="col-md-8 pe-md-5 mb-5 mb-md-0">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Cloud
												</strong> Computing
											</h2>
											<p class="text-4">With our exlusive Style Switcher you will be able to
												choose
												any color you want for your website, choose the layout style (wide /
												boxed),
												website type (one page / normal), then generate the css that will be
												compiled by a {less} proccessor.</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
												imperdiet
												hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel
												justo.
												Vestibulum ante ipsum primis in faucibus orci.</p>
										</div>
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/style-switcher.png"
												alt="style switcher" />
										</div>
									</div>

								</div>
						</div>

					</div>
				</section>
				<!-- end-technology -->

				<!-- Learning Methodology -->
				<div role="main" class="main px-3 px-lg-5">
					<div class="contanier">
						<div class="col-md-6 col-lg-12 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<h2 class="mb-4 pb-2 text-10 font-weight-semibold ls-0 text-center">Learning Methodology
							</h2>
						</div>
					</div>
				</div>


				<div class="contanier px-4">
					<div class="row mb-5 pb-3 mx-5">

						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">


							<div
								class="card card-border card-border-bottom card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<div class="card-body">
										<i class="icon-user-following icons text-color-primary text-8"></i>
										<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
										<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Curabitur rhoncus nulla dui, in dapi.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">


							<div
								class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Card Title</h4>
									<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Curabitur rhoncus nulla dui, in dapi.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end-Learning Methodology -->

				<!-- Red Hat Training -->

				<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="200">
					<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
						style="padding-top: 1000px;">Red Hat Training</h2>
				</div>
				<div class="contanier py-5 px-5">
					<div class="row mb-5 pb-3">

						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">


							<div class="card text-center rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<strong
											class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
										<h4 class="font-weight-bold text-color-primary text-4">FIRST STEP</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
											blandit
											massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">


							<div class="card text-center rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<strong
											class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
										<h4 class="font-weight-bold text-color-primary text-4">FIRST STEP</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
											blandit
											massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">


							<div class="card text-center rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<strong
											class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
										<h4 class="font-weight-bold text-color-primary text-4">FIRST STEP</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
											blandit
											massa enim. Nullam id varius.</p>
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>
				<!-- end-Red Hat Training -->



				<!-- Career Opportunities -->

				<!-- end-Career Opportunities -->


				<!-- FAQ -->
				 
				<!-- end-FAQ -->

				<!-- CTA -->

				<div class="custom-bg-gradient-1 pt-5 py-1">
					<div class="container ">
						<div class="row  justify-content-center">
							<div class="col-lg-8 text-center">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter"
									data-appear-animation-delay="0">

									<h4 class="custom-font-1 mb-0">We handle every aspect of your marketing journey
										with
										expertise and dedication</h4>
									<a href="#"
										class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's
										Talk!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end-CTA -->
				
				<!--footer-->
				<%- include("./partials/footer") -%>
					<!--end-footer-->
					<!-- end-footer -->




			</div>



	</div>



	<!-- Vendor -->
	<script src="assets/vendor/plugins/js/plugins.min.js"></script>
	<script src="assets/vendor/gsap/gsap.min.js"></script>
	<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="assets/js/theme.js"></script>

	<!-- Demo -->
	<script src="assets/js/demos/demo-creative-agency-2.js"></script>
	<script src="assets/js/demos/demo-marketing-1.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="assets/js/views/view.contact.js"></script>

	<!-- Theme Custom -->
	<script src="assets/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="assets/js/theme.init.js"></script>

	<!-- Examples -->
	<script src="assets/js/examples/examples.animations.js"></script>

</body>

</html>