<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Contact Us</title>

		<meta name="keywords" content="FZAMI-WORLD" />
		<meta name="description" content="FZAMI-WORLD">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts"
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			rel="stylesheet">
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet"
			href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet"
			href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet"
			href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet"
			href="assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

		<!-- Demo CSS -->
		<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet"
			href="assets/css/skins/skin-marketing-1.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">
		<style>
		
		.map-container{
            background-color: rgb(177, 177, 177);
        }
        #map {
            height: 300px;
            width: 100%;
        }
		.input-group{
			align-items: center;
			
		}
		/* Customize icon background and alignment */
.input-group .input-group-text {
   background-color: transparent;
   border: none;
   padding-right: 0.5rem;
   color: #ffffff; 
}

.input-group .icon-background {
   display: flex;
   align-items: center;
   color: #ffffff; /* Lighter icon color */
}

.form-control {
   border: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Light border for inputs */
   background: transparent;
   color: #ffffff;
}

/* Placeholder color */
.form-control::placeholder {
   color: rgba(255, 255, 255, 0.6); /* Lighter placeholder color */
}

/* Button styling */
.btn-dark {
   background-color: #000; /* Dark background for button */
   color: #ffffff;
}

	</style>
	</head>

	<body data-plugin-cursor-effect>
		<div class="body">

			<!--Header-->
			<%- include("./partials/header") -%>
			<!-- end-Header -->

			<div role="main" class="main mt-5">

				<section
					class="page-header page-header-modern custom-bg-gradient-1 page-header-lg mb-0">
					<div class="container">
						<div class="row py-3 text-center mt-5  text-lg-center ">
							<div class="col-lg-12 order-2 order-lg-1 align-self-center p-static">
								<h1 class="text-color-dark text-lg-12 appear-animation"
									data-appear-animation="fadeIn" data-appear-animation-delay="0"
									class="custom-font-1">Connect with us</h1>
							</div>
							<div class="col-lg-4 order-1 order-lg-2 align-self-center">
								<!--<ul class="breadcrumb d-flex justify-content-center justify-content-lg-end text-4-5">
									 <li><a href="/index"
											class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">Home</a>
									</li>
									<li class="active text-color-primary text-transform-none text-align-center">Contact Us</li>
								</ul> -->
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-gradient border-0 m-0 col-lx-10">
					<div class="container py-5 col-xl-10">
						<div class="row">
							<div class="col">
								<h3 class="text-10 text-light">Send a Message</h3>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<form class="contact-form" id="contactForm" action="/contact1"
									method="POST">
									<!-- Success/Error Alerts -->
									<div class="contact-form-success alert alert-success d-none mt-4">
										<strong>Success!</strong> Your message has been sent to us.
									</div>
									<div class="contact-form-error alert alert-danger d-none mt-4">
										<strong>Error!</strong> There was an error sending your message.
										<span class="mail-error-message text-1 mt-2 d-block"></span>
									</div>

									<!-- Name Field -->
									<div class="row mb-2 mx-0 align-items-center">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text icon-background"><i
														class="fas fa-user"></i></span>
											</div>
											<input type="text"
												class="form-control text-3-5  px-1 py-3"
												name="name" id="name" placeholder="Your Name*" required />
										</div>
									</div>

									<!-- Email Field -->
									<div class="row mb-2 mx-0 align-items-center">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text icon-background"><i
														class="fas fa-envelope"></i></span>
											</div>
											<input type="email"
												class="form-control text-3-5  px-1 py-3"
												name="email" id="email" placeholder="Your Email*" required />
										</div>
									</div>

									<!-- Phone Field -->
									<div class="row mb-2 mx-0 align-items-center">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text icon-background"><i
														class="fas fa-phone"></i></span>
											</div>
											<input type="text"
												class="form-control text-3-5  px-1 py-3"
												name="phno" id="phno" placeholder="Your Phone Number*" required />
										</div>
									</div>

									<!-- Message Field -->
									<div class="row mb-4 row mb-2 mx-0   ">
										<div class="input-group" style="align-items: start !important;">
											<div class="input-group-prepend pt-2">
												<span class="input-group-text icon-background"><i class="fa-solid fa-comments"></i></span>
											</div>
										<textarea name="message" id="message" rows="4"
											class="form-control ml-5 text-3-5  px-1"
											placeholder="Message"></textarea>
									
										</div>
									</div>
									<!-- Submit Button -->
									<input type="submit"
										class="btn btn-modern btn-effect-4 btn-rounded btn-dark text-transform-none text-3 font-weight-medium mt-2 mb-2"
										value="Send Message" />
								</form>

								<!-- Alerts -->
								<div id="successMessage" style="display:none; margin-top: 20px;"
									class="alert alert-success">
									Your enquiry has been successfully submitted!
								</div>
								<div id="errorMessage" style="display:none; margin-top: 20px;"
									class="alert alert-danger">
									There was an error submitting your enquiry. Please try again.
								</div>
							</div>
						</div>

					</div>
				</section>

				<!-- location-map -->

				<div class="row p map-container bg-white">
					<div id="map" class="w-full">
					</div>
				</div>
				<!-- CTA-->
				<%- include("./partials/CTA") -%>

				<!-- footer -->
				<%- include("./partials/footer") -%>

				<!-- end-footer -->

			</div>

			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
			<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

			<script>
                $(document).ready(function () {
                    $('#contactForm').on('submit', function (e) {
                        e.preventDefault();
                        $.ajax({
                            url: $(this).attr('action'),
                            type: 'POST',
                            data: $(this).serialize(),
                            success: function (response) {
                                console.log('Response:', response);
                                $('#successMessage').show();
                                $('#errorMessage').hide();
                                $('#contactForm')[0].reset();
                            },
                            error: function (xhr, status, error) {
                                console.error('Error:', error);
                                $('#errorMessage').show();
                                $('#successMessage').hide();
                            }
                        });
                    });
                });

                // map location --------->
                const map = L.map('map').setView([40, 40], 3);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 5,
                }).addTo(map);

                const locations = [
                    { lat: 25.276987, lng: 55.296249, title: 'Dubai' },
                    { lat: 51.507351, lng: -0.127758, title: 'UK' },
                    { lat: 28.613939, lng: 77.209023, title: 'India' }
                ];

                locations.forEach(location => {
                    L.marker([location.lat, location.lng]).addTo(map)
                        .bindPopup(location.title);
                });
            </script>

			<!-- Vendor -->
			<script src="assets/vendor/plugins/js/plugins.min.js"></script>
			<script src="assets/vendor/gsap/gsap.min.js"></script>
			<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

			<!-- Theme Base, Components and Settings -->
			<script src="assets/js/theme.js"></script>

			<!-- Demo -->
			<script src="assets/js/demos/demo-marketing-1.js"></script>

			<!-- Current Page Vendor and Views -->
			<script src="assets/js/views/view.contact.js"></script>

			<!-- Theme Custom -->
			<script src="assets/js/custom.js"></script>

			<!-- Theme Initialization Files -->
			<script src="assets/js/theme.init.js"></script>
			<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

			<!-- Examples -->
			<script src="assets/js/examples/examples.animations.js"></script>

			<!-- Google Maps -->
			<script>

		/* 
		Map Markers:
		- Get an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key
		- Generate Map Id: https://console.cloud.google.com/google/maps-apis/studio/maps
		- Use https://www.latlong.net/convert-address-to-lat-long.html to get Latitude and Longitude of a specific address
		*/
		(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
			({ key: "YOUR_API_KEY", v: "weekly" });

		async function initMap() {
			const { Map, InfoWindow } = await google.maps.importLibrary("maps");
			const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
				"marker",
			);
			const map = new Map(document.getElementById("googlemaps"), {
				zoom: 14,
				center: { lat: -37.817240, lng: 144.955820 },
				mapId: "YOUR_MAP_API_ID",
			});
			const markers = [
				{
					position: { lat: -37.817240, lng: 144.955820 },
					title: "Office 1<br>Melbourne, 121 King St, Australia<br>Phone: 123-456-1234",
				}
			];

			const infoWindow = new InfoWindow();

			markers.forEach(({ position, title }, i) => {
				const pin = new PinElement({
					background: "#e36159",
					borderColor: "#e36159",
					glyphColor: "#FFF",
				});
				const marker = new AdvancedMarkerElement({
					position,
					map,
					title: `${title}`,
					content: pin.element,
				});

				marker.addListener("click", ({ domEvent, latLng }) => {
					const { target } = domEvent;

					infoWindow.close();
					infoWindow.setContent(marker.title);
					infoWindow.open(marker.map, marker);
				});
			});

		}

		initMap();


		// map location --------->
		const map = L.map('map').setView([40, 40], 3);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 5,
		}).addTo(map);

		const locations = [
			{ lat: 25.276987, lng: 55.296249, title: 'Dubai' },
			{ lat: 51.507351, lng: -0.127758, title: 'UK' },
			{ lat: 28.613939, lng: 77.209023, title: 'India' }
		];

		locations.forEach(location => {
			L.marker([location.lat, location.lng]).addTo(map)
				.bindPopup(location.title);
		});			
	</script>
			<script>


	</script>
		</body>

	</html>