<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from themazine.com/html/sap/preview/features.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2024 06:45:05 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="assets/media/titleLogo.png" type="image/x-icon" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/animate.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css" crossorigin="anonymous" />

  <title>Features - Revonnate</title>
</head>

<body class="position-relative">
  <!--Header-->
  <%- include("./partials/header") -%>
  <!-- end-Header -->

    <section
      class="row mx-0 team-banner align-items-center position-relative pt-170px pt-lg-120px mt-sm-100px pt-sm-30px pb-80px pb-lg-60px mb-60px">

      <div class="container">
        <div class="row align-items-center flex-md-row-reverse">

          <div class="col-md-6 text-center text-md-right wow fadeInLeft  animated" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <img src="/assets/media/new/Digital Transfromation - Banner.png" alt="" class="img-fluid image-1"
              width="100%" height="100%">
          </div>

          <div class="col-md-6 text-center text-md-left pt-sm-20px">

            <h2
              class="text-uppercase fz-56 fz-lg-40 fz-md-30 fw-600 font-poppins text-white lh-1-17 mb-20px mb-sm-10px">
              Digital Transformation
            </h2>
            <p class="text-white mb-25px mb-lg-20px  font-poppins fz-16 fz-md-14 lh-1-5 maw-650px mb-80px mb-lg-40px">
              Modernize. Optimize. Secure.
            </p>

          </div>

        </div>
      </div>

    </section>

    <section class="row mx-0">
      <div class="container">
        <div class="row align-items-center mb-100px">
          <div class="col-md-6 text-md-left pb-sm-20px wow fadeInLeft animated" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <img src="assets/media/new/Digital Transfromation - Digital Strategy & Consulting.png" alt=""
              class="img-fluid image-1" />
          </div>
          <div class="col-md-6">
            <h3
              class="text-capitalize text-blue d-inline-flex font-poppins fw-600 lh-1-17 fz-30 fz-md-24 color-dark-blue-theme hover-color-green-theme mb-20px mb-md-10px transition-default hover-text-dec-none">
              Digital Strategy & Consulting
            </h3>
            <p class="color-dark-blue-theme-80 font-poppins fz-16 fz-md-14 lh-1-5 mb-25px mb-md-15px">
              We provide expert guidance and actionable strategies to help
              businesses define their digital objectives and chart a clear
              roadmap for transformation. Our consulting services focus on
              aligning technology with business goals to ensure sustainable
              growth and efficiency.
            </p>
          </div>
        </div>
        <div class="row align-items-center flex-md-row-reverse mb-100px">
          <div class="col-md-6 text-md-right pb-sm-20px wow fadeInLeft animated" data-wow-delay="0ms"
            data-wow-duration="1500ms">
            <img src="assets/media/new/Digital Transfromation - Technology Implementation.png" alt=""
              class="img-fluid image-1" />
          </div>
          <div class="col-md-6">
            <h3
              class="text-capitalize text-blue d-inline-flex font-poppins fw-600 lh-1-17 fz-30 fz-md-24 color-dark-blue-theme hover-color-green-theme mb-20px mb-md-10px transition-default hover-text-dec-none">
              Technology Implementation
            </h3>
            <p class="color-dark-blue-theme-80 font-poppins fz-16 fz-md-14 lh-1-5 mb-25px mb-md-15px">
              Revonnate excels in deploying advanced technologies that drive
              digital transformation. From cloud computing and data analytics to
              AI and IoT, our implementation services ensure seamless
              integration and optimal performance of new technologies within
              your existing infrastructure.
            </p>
          </div>
        </div>
        <div class="row align-items-center mb-100px">
          <div class="col-md-6 text-md-left pb-sm-20px wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="assets/media/new/Digital Transfromation - Process Automation.png" alt=""
              class="img-fluid image-1" />
          </div>
          <div class="col-md-6">
            <h3
              class="text-capitalize text-blue d-inline-flex font-poppins fw-600 lh-1-17 fz-30 fz-md-24 color-dark-blue-theme hover-color-green-theme mb-20px mb-md-10px transition-default hover-text-dec-none">
              Process Automation
            </h3>
            <p class="color-dark-blue-theme-80 font-poppins fz-16 fz-md-14 lh-1-5 mb-25px mb-md-15px">
              Our process automation solutions streamline business operations,
              reducing manual intervention and boosting productivity. By
              leveraging cutting-edge automation tools, we help organizations
              achieve greater accuracy, efficiency, and cost savings.
            </p>
          </div>
        </div>

        <div class="row align-items-center flex-md-row-reverse mb-100px">
          <div class="col-md-6 text-md-right pb-sm-20px wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="assets/media/new/Digital Transfromation - Digital experience design.png" alt=""
              class="img-fluid image-1" />
          </div>
          <div class="col-md-6">
            <h3
              class="text-capitalize text-blue d-inline-flex font-poppins fw-600 lh-1-17 fz-30 fz-md-24 color-dark-blue-theme hover-color-green-theme mb-20px mb-md-10px transition-default hover-text-dec-none">
              Digital experience design
            </h3>
            <p class="color-dark-blue-theme-80 font-poppins fz-16 fz-md-14 lh-1-5 mb-25px mb-md-15px">
              We craft intuitive and engaging digital experiences that resonate
              with users. Our design team focuses on user-centric design
              principles, ensuring that every digital touchpoint is optimized
              for usability and impact.
            </p>
          </div>
        </div>

        <div class="row align-items-center mb-100px">
          <div class="col-md-6 text-md-left pb-sm-20px wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="assets/media/new/Digital Transfromation - Cybersecurity Solutions.png" alt=""
              class="img-fluid image-1" />
          </div>
          <div class="col-md-6">
            <h3
              class="text-capitalize text-blue d-inline-flex font-poppins fw-600 lh-1-17 fz-30 fz-md-24 color-dark-blue-theme hover-color-green-theme mb-20px mb-md-10px transition-default hover-text-dec-none">
              Cybersecurity Solutions
            </h3>
            <p class="color-dark-blue-theme-80 font-poppins fz-16 fz-md-14 lh-1-5 mb-25px mb-md-15px">
              In an increasingly digital world, safeguarding your business from
              cyber threats is paramount. Revonnate offers comprehensive
              cybersecurity services, including risk assessment, threat
              mitigation, and ongoing monitoring, to protect your digital assets
              and ensure compliance with industry standards.
            </p>
          </div>
        </div>

      </div>
    </section>

    <%- include("./partials/footer") -%>
    <%- include("./partials/activenavbar") -%>

      <!--Search Popup-->
      <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn">
          <span class="fas fa-times"></span>
        </div>
        <div class="popup-inner">
          <div class="overlay-layer"></div>
          <div class="search-form">
            <form method="post" action="https://themazine.com/html/sap/preview/index">
              <div class="form-group">
                <fieldset>
                  <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here"
                    required="" />
                  <input type="submit" value="Search Now!" class="theme-btn" />
                </fieldset>
              </div>
            </form>

            <br />
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
              <li><a href="#">Software</a></li>
              <li><a href="#">Sass</a></li>
              <li><a href="#">Less</a></li>
              <li><a href="#">Css</a></li>
              <li><a href="#">Jquery</a></li>
            </ul>
          </div>
        </div>
      </div>

      <style>
        .search-popup {
          position: fixed;
          left: 0px;
          bottom: -100%;
          width: 100%;
          height: 100%;
          z-index: 999999999999999;
          visibility: hidden;
          opacity: 0;
          overflow: auto;
          transform: scale(0, 0);
          background: rgba(0, 0, 0, 0.8);
          transition: all 700ms ease;
          -moz-transition: all 700ms ease;
          -webkit-transition: all 700ms ease;
          -ms-transition: all 700ms ease;
          -o-transition: all 700ms ease;
        }

        .search-popup .overlay-layer {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          display: block;
        }

        .search-popup.popup-visible {
          bottom: 0;
          visibility: visible;
          opacity: 1;
          transform: scale(1, 1);
        }

        .search-popup .close-search {
          position: absolute;
          right: 25px;
          top: 25px;
          font-size: 22px;
          color: #ffffff;
          cursor: pointer;
          z-index: 5;
        }

        .search-popup .close-search:hover {
          opacity: 0.7;
        }

        .search-popup .search-form {
          position: relative;
          padding: 0px 15px 0px;
          max-width: 1024px;
          margin: 0 auto;
          margin-top: 200px;
        }

        .search-popup .search-form fieldset {
          position: relative;
          border: 7px solid rgba(255, 255, 255, 0.5);
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          -moz-border-radius: 12px;
        }

        .search-popup .search-form fieldset input[type="search"] {
          position: relative;
          height: 70px;
          padding: 20px 220px 20px 30px;
          background: #ffffff;
          line-height: 30px;
          font-size: 24px;
          color: #233145;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;
          -moz-border-radius: 7px;
        }

        .search-popup .search-form fieldset input[type="submit"] {
          position: absolute;
          display: block;
          right: 0px;
          top: 0px;
          text-align: center;
          width: 220px;
          height: 70px;
          padding: 20px 10px 20px 10px;
          color: #ffffff !important;
          background-color: #222222;
          line-height: 30px;
          font-size: 20px;
          color: #233145;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 0px 7px 7px 0px;
          -moz-border-radius: 0px 7px 7px 0px;
          -ms-border-radius: 0px 7px 7px 0px;
          -o-border-radius: 0px 7px 7px 0px;
          -webkit-border-radius: 0px 7px 7px 0px;
        }

        .search-popup .search-form fieldset input[type="submit"]:hover {
          background: #000000;
        }

        .search-popup h3 {
          font-size: 24px;
          color: #ffffff;
          margin-bottom: 20px;
          text-align: center;
        }

        .search-popup .recent-searches {
          font-size: 16px;
          color: #ffffff;
          text-align: center;
        }

        .search-popup .recent-searches li {
          display: inline-block;
          margin: 0px 10px 10px 0px;
        }

        .search-popup .recent-searches li a {
          display: block;
          line-height: 24px;
          border: 1px solid #ffffff;
          padding: 7px 15px;
          color: #ffffff;
          border-radius: 3px;
        }

        .search-popup .recent-searches li a:hover {
          color: #000000;
          border-color: #ffffff;
          background-color: #ffffff;
        }

        @media only screen and (max-width: 599px) {
          .search-popup .search-form fieldset input[type="search"] {
            padding-right: 20px;
          }

          .search-popup .search-form fieldset input[type="submit"] {
            position: relative;
            width: 100%;
          }
        }
      </style>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://kit.fontawesome.com/41dcbbb4c1.js" crossorigin="anonymous"></script>
      <script src="assets/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/popper.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/wow.js" crossorigin="anonymous"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
      <script src="assets/js/script.js" crossorigin="anonymous"></script>
</body>

<!-- Mirrored from themazine.com/html/sap/preview/features.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2024 06:45:07 GMT -->

</html>
