<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>E-Classroom Solutions</title>

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">
		<link rel="stylesheet" href="assets/css/demos/demo-creative-agency-2.css">

		<!-- slider CSS -->
		<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-creative-agency-2.css">
		<!-- silder CSS -->
		<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-marketing-1.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

	</head>
	<body data-plugin-cursor-effect>
		<div class="body">
			<!--Header-->
			<%- include("./partials/header") -%>
			<!--end-Header-->
			<div role="main" class="main">

				<!-- banner -->
				<section class="page-header page-header-modern page-header-background parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="assets/img/demos/marketing-1/generic/generic-8.jpg">
					<div class="container">
						<div class="row py-0">
							<div class="col align-self-center p-static">
								<div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 0.4, 'transition': true, 'transitionDuration': 1000}">
									<ul class="breadcrumb d-flex text-4-5">
										<li><a href="/about" class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">E-Classroom Solutions</a></li>
										<li class="active text-color-primary text-transform-none"></li>
									</ul>
									<h1 class="text-color-dark font-weight-semi-bold text-lg-12 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0"><mark class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary">E-Classroom Solutions</mark></h1>
								</div>
							</div>

						</div>
					</div>
				</section>
                <!-- end-banner -->

				<!-- Parnters -->
				<div class="container py-1">
					<div class="row pt-5 mt-3">
						<div class="col text-center">
							<h3 class="text-7 text-transform-none font-weight-semibold my-4 pt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">Trusted by great Companies </h3>
						</div>
					</div>
				</div>
				<!-- tbd -->
				<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="350">
					<div class="marquee custom-marquee-1 pt-4 d-flex" data-duration="40000" data-gap="10" data-duplicated="true" data-startVisible="true">
						<span class="d-flex align-items-center" data-clone-element="2">
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-8.png" alt="" class="img-fluid" style="max-width: 90px;">
							</div>
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-9.png" alt="" class="img-fluid" style="max-width: 140px;">
							</div>
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-10.png" alt="" class="img-fluid" style="max-width: 140px;">
							</div>
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-11.png" alt="" class="img-fluid" style="max-width: 140px;">
							</div>
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-12.png" alt="" class="img-fluid" style="max-width: 100px;">
							</div>
							<div class="px-5 py-1">
								<img src="assets/img/logos/logo-13.png" alt="" class="img-fluid" style="max-width: 100px;">
							</div>
						</span>
					</div>
				</div>
				<p></p>
				

				<!-- end-Partners -->

				<!-- Products -->
				<div class="container py-5">
					<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" >
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center" style="padding-top: 1000px;"">Products</h2>
					</div>
                    <div class="row justify-content-between align-items-center  pt-5">

                        <div class="col-lg-6 text-center">
                            <div class="row align-items-center">
                                <!-- <div class="col-lg-6">
                                    <div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'top', 'speed': 6.0, 'transition': true, 'transitionDuration': 1000}">
                                        <img src="assets/img/demos/marketing-1/projects/project-3.png" alt="" class="img-fluid">
                                    </div>
                                </div> -->
                                <div class="col-lg-12">
                                    <div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 5.0, 'transition': true, 'transitionDuration': 1000}">
                                        <img src="assets/img/eclassroomsolution/samsung-flip-500x500-1.jpeg" alt="" class="img-fluid custom-border-radius-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pt-5 pt-lg-0 ">
                            <h4 class="text-6">Samsung FLIP</h4>
                            <p class="text-4 mb-0">The Samsung Flip is an interactive, open-source display that functions as a whiteboard, touchscreen, and boardroom projector. Completely wireless, its portability sets it apart from other products on the market.</p>
							<p class="text-4 mb-0 text-bold">Features</p>
							<ul>
								<li>
									Annotation Mode which allows to write on the display
								</li>
								<li>	
									Compatible with Microsoft Office 365
								</li>		
								<li>	
									An Open source display which can be connected to any device
								</li>
								<li>
										Portable and completely wireless
								</li>	
								<li>
									Save all presentations and writings in the cloud
								</li>
							</ul>
                        </div>
                    </div>
                    <div class="row justify-content-between pb-5 align-items-center  pt-5 ">

                        <div class="col-lg-5 pt-5 pt-lg-0">
                            <h4 class="text-6">ZOOM Video Conferencing</h4>
                            <p class="text-4 mb-0">ZOOM is a reliable, user-friendly platform for hosting virtual meetings with up to 100 participants. Our business packages expand this capacity and offer additional features.</p>
							<ul>
								<li>
									HD audio and video
								</li>
								<li>	
									Cloud recording
								</li>		
								<li>	
									Raise hand mode
								</li>
								<li>
									Whiteboard functionality
								</li>	
								<li>
									User management
								</li>
								<li>
									SSL security
								</li>
								<li>
									Admin controls
								</li>
							</ul>
                        </div>
                        <div class="col-lg-6 text-center">
                            <div class="row align-items-center">
                                <div class="col-lg-10">
                                    <div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 6.0, 'transition': true, 'transitionDuration': 1000}">
                                        <img src="
										assets/img/eclassroomsolution/Zoom.png"  alt="ZOOM Video Conferencing" class="img-fluid">

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
					<div class="row justify-content-between align-items-center  pt-5 pb-5">

                        <div class="col-lg-6 text-center">
                            <div class="row align-items-center">
       
                                <div class="col-lg-12">
                                    <div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 5.0, 'transition': true, 'transitionDuration': 1000}">
                                        <img src="
										assets/img/eclassroomsolution/1.png" alt="" class="img-fluid custom-border-radius-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pt-5 pt-lg-0">
                            <h4 class="text-6">Logitech MeetUp Webcam</h4>
                            <p class="text-4 mb-0">The flagship product from the leader in HD video conferencing cameras, the Logitech MeetUp offers seamless all-in-one audio and video for professional meetings.</p>
							<p class="text-4 mb-0 text-bold">Features</p>
							<ul>
								<li>4K Ultra HD video calling</li>
								<li>Motorized pan and tilt with Logitech lens</li>
								<li>3 camera presets</li>		
								<li>Bluetooth connectivity</li>
								<li>Built-in 3-microphone speakerphone</li>
								<li>Multiple mounting options</li>
								<li>RightSense technology for optimized performance</li>
							</ul>
                        </div>
                    </div>
				</div>
		
				<!-- end-products -->

				<!-- services -->
				<div class="container">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-center">Services
						</h2>
					</div>
					<div class="row mb-5 pb-3">

						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
							

							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Education</h4>
									<p class="card-text"> Perfect for schools, colleges, and academies, providing an exceptional classroom environment</p>
									<ul>
										<li>‣ Call Storage</li>
										<li>‣ Can host upto 100 participants</li>
										<li>‣ In built whiteboard mode allows host to write on the Flip</li>
										<li>‣ Hand raise mode enables direct communication with the host and the participants</li>	
									</ul>
									<div class="row pb-4">
										<div class="col">
											<div class="toggle toggle-minimal toggle-faqs toggle-dark m-0 bg-green" data-plugin-toggle>
											  <section class="toggle">
												<a class="toggle-title text-4 text-light text-hover-bg-primary bg-primary px-lg-2">PLANS</a>
												<div class="toggle-content">
												  <p class="mb-0">
													<b>Bundle</b><br>
													<span class="text-green">1. Samsung 55 inches LED TV</span><br>
													<span class="text-green">2. Zoom Pro version</span><br>
													<span class="text-green">3. Logitech Meetup webcam</span><br>
													<br>
													<b>Premium Bundle</b><br>
													<span class="text-green">1. Samsung Flip 2</span><br>
													<span class="text-green">2. Zoom Pro Version</span><br>
													<span class="text-green">3. Logitech Meetup webcam</span><br>
												  </p>
												</div>
											  </section>
											</div>
										  </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
							
							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h4 class="card-title mb-1 text-4 font-weight-bold">Enterprise</h4>
									<p class="card-text">Perfect for small, medium, and large businesses, providing a flawless meeting room environment.</p>
									<ul>
										<li>‣ Call Storage</li>
										<li>‣ Can host upto 100 participants</li>
										<li>‣ In built whiteboard mode allows host to write on the Flip</li>
										<li>‣ Hand raise mode enables direct communication with the host and the participants</li>	
									</ul>
									<div class="row pb-4">
										<div class="col">
											<div class="toggle toggle-minimal toggle-faqs toggle-dark m-0 bg-green" data-plugin-toggle>
												<section class="toggle">
													<a class="toggle-title text-4 text-light text-hover-bg-primary bg-primary px-lg-2"> PLANS</a>
													<div class="toggle-content"><p class="mb-0">
														<b> Bundle</b><br>
													  <span class="text-green">1. Samsung 55 inches LED TV</span><br>
													  <span class="text-green">2. Zoom Pro version</span><br>
													  <span class="text-green">3. Logitech Meetup webcam</span><br>
													  <br>
													  <b>Premium Bundle</b><br>
													  <span class="text-green">1. Samsung Flip 2</span><br>
													  <span class="text-green">2. Zoom Pro Version</span><br>
													  <span class="text-green">3. Logitech Meetup webcam</span><br>
													</p>
													</div>
												</section>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
				</div>

				<!-- end-services -->


				
			</div>
			<!-- CTA -->

			<div class="custom-bg-gradient-1 pt-5 py-1 mb-1">
				<div class="container ">
					<div class="row  justify-content-center">
						<div class="col-lg-8 text-center">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
						
								<h4 class="custom-font-1 mb-0 font text-dark text-6 line-height-10 font-weight-semibold mb-2 fs-3">We manage every part of your marketing journey with skill and unwavering dedication.</h4>
								<a href="#" class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's Talk!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end-CTA -->
				<!-- footer -->
				<%- include("./partials/footer") -%>

			<!-- end-footer -->
			

		

		<!-- Vendor -->
		<script src="assets/vendor/plugins/js/plugins.min.js"></script>
		<script src="assets/vendor/gsap/gsap.min.js"></script>
		<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/js/theme.js"></script>

		<!-- Demo -->
		<script src="assets/js/demos/demo-marketing-1.js"></script>
		<script src="assets/js/demos/demo-creative-agency-2.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/js/theme.init.js"></script>

	<!-- Examples -->
		<script src="assets/js/examples/examples.animations.js"></script>

	</body>
</html>
