<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Gen AI</title>	

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-marketing-1.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

	</head>
	<body data-plugin-cursor-effect>
		<div class="body">

		<!--Header-->
		<%- include("./partials/header") -%>
		<!--end-Header-->
			<div role="main" class="main pt-5 mt-2">

				<!-- banner -->
				<section class="page-header page-header-modern page-header-background parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="assets/img/demos/marketing-1/generic/generic-8.jpg">
					<div class="container">
						<div class="row py-5">
							<div class="col align-self-center p-static">
								<div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 0.4, 'transition': true, 'transitionDuration': 1000}">
									<ul class="breadcrumb d-flex text-4-5">
										<li><a href="/about" class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">Home</a></li>
										<li class="active text-color-primary text-transform-none">Gen AI</li>
									</ul>
									<h1 class="text-color-dark font-weight-semi-bold text-lg-12 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0"><mark class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary"> Gen AI</mark></h1>
								</div>
							</div>

						</div>
					</div>
				</section>
                <!-- end-banner -->

				<!-- Application -->
				<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
					<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-center">Applications of GenAI</h2>
				</div>
				

				<div class="row mb-5 pb-3">

					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
							<div class="card-body text-center p-5">
								
								<img src="assets/img/gen/Advanced Analytics.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;">								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Advanced Analytics
								</h4>
								<p class="card-text">Advanced analytics examines large datasets to uncover insights and forecast trends, optimizing business operations.</p>
								
							</div>
						</div>
						
					</div>
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
							<div class="card-body text-center p-5">
								<img src="assets/img/gen/Personalization.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;">								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Personalization
								</h4>
								<p class="card-text">AI algorithms tailor customer experiences by analyzing behavior patterns and preferences for more engaging interactions.</p>
								
							</div>
						</div>
						
					</div>
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
							<div class="card-body text-center p-5">
								<img src="assets/img/gen/Automation.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;">								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Automation
								</h4>
								<p class="card-text">Automation improves efficiency and reduces costs by streamlining complex tasks, allowing focus on higher-level functions.</p>
								
							</div>
						</div>
						
					</div>
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
							<div class="card-body text-center p-5">
								<img src="assets/img/gen/Innovation.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;">								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Innovation
								</h4>
								<p class="card-text">AI fosters innovation by generating unique ideas and solutions from vast datasets and simulations.</p>
								
							</div>
						</div>
						
					</div>
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden;">
							<div class="card-body text-center p-5">
								<img src="assets/img/gen/Ethical AI.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;">								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Ethical AI
								</h4>
								<p class="card-text">Ethical AI prioritizes responsible practices, ensuring user privacy and minimizing biases for greater trust.</p>
								
							</div>
						</div>
						
					</div>
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
						

						<div class="card card-background-image-hover border-0" style="background-image: url(img/blog/square/blog-1.jpg); border-radius: 30px; overflow: hidden; border: 10px solid #000; padding: 10px;"> <!-- Change to #000 for a visible border -->
							<div class="card-body text-center p-5">
								<img src="assets/img/gen/Predictive Maintenance.png" alt="Description of image" class="img-fluid text-color-primary" style="width: 60px; height: 60px;"> <!-- Adjust the size as needed -->
								<h4 class="card-title mt-2 mb-2 text-5 font-weight-bold">Predictive Maintenance</h4>
								<p class="card-text">Predictive maintenance uses AI to anticipate equipment failures, reducing downtime and maintenance costs.</p>
								
							</div>
						</div>
						
						
					</div>

					

					
				</div>
				<!-- end-application -->
				
				<!-- CTA -->
		
				<div class="custom-bg-gradient-1 pt-5 py-1">
					<div class="container ">
						<div class="row  justify-content-center">
							<div class="col-lg-8 text-center">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
							
									<h4 class="custom-font-1 mb-0">We handle every aspect of your marketing journey with expertise and dedication</h4>
									<a href="#" class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's Talk!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end-CTA -->
			
				
				<!-- footer -->
				<%- include("./partials/footer") -%>

			<!-- end-footer -->
			</div>

		<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-marketing-1.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher"><i class="fas fa-cogs"></i><div class="style-switcher-tooltip"><strong>Style Switcher</strong><p>Check out different color options and styles.</p></div></a>

		<!-- Vendor -->
		<script src="assets/vendor/plugins/js/plugins.min.js"></script>
		<script src="assets/vendor/gsap/gsap.min.js"></script>
		<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/js/theme.js"></script>

		<!-- Demo -->
		<script src="assets/js/demos/demo-marketing-1.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/js/theme.init.js"></script>

	<!-- Examples -->
		<script src="assets/js/examples/examples.animations.js"></script>	

	</body>
</html>
