
<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Fzami Arsh</title>

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts"
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet"
			href="assets/css/skins/skin-marketing-1.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">
		<style>
			@media (max-width: 500px) {
				.toggle-rows {
					display: none;
				}
			}
		</style>
	</head>

<body data-plugin-cursor-effect>
	<div class="body">

		<!--Header-->
		<%- include("./partials/header") -%>
			<!--end-Header-->

			<div role="main" class="main">
				<!-- banner -->
				<section class="section section-angled overflow-visible section-angled-reverse border-top-0 hero mb-0">
					
					<div class="section-angled-content">
						<div class="custom-heading-1">
							<strong>FZAMI ARSH</strong>
						</div>
						<div class="container py-3 py-lg-5 p-relative z-index-1">
							<div class="row py-3">
								<div class="text-center text-lg-start col-lg-6 py-5">
									<div class="overflow-hidden">
										<div class="appear-animation" data-appear-animation="maskUp"
											data-appear-animation-delay="0">
											<span
												class="bg-gradient text-light d-inline-block text-3-5 rounded-pill px-4 py-1 font-weight-medium me-2">Let's
												Go</span>
											<p class="p-0 d-inline-block text-4">Revolution & Innovation</p>
										</div>
									</div>

									<div class="perspective-500">
										<h2 class="custom-hero-font-1 appear-animation col-lg-12"
											data-appear-animation="textEntrance" data-appear-animation-delay="0">
											Crafting <strong class="custom-decoration-1 d-inline-block"><mark
													class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary">Success</mark></strong><br><mark
												class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary">Through</mark>
											<strong>Technology</strong> & <strong>Education</strong></h2>
									</div>

									<div class="d-flex mb-4 justify-content-center justify-content-lg-start">
										<div class="feature-box align-items-center me-4 appear-animation"
											data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
											<div
												class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
												<i class="fa-solid fa-check-double text-secondary"></i>
											</div>
											<div class="feature-box-info line-height-2 ps-2 ">
												<span class="text-4 font-weight-small text-dark negative-ls-05">IT
													Infrastructure</span>
											</div>
										</div>

										<div class="feature-box align-items-center appear-animation"
											data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
											<div
												class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
												<i class="fa-solid fa-check-double text-secondary"></i>
											</div>
											<div class="feature-box-info line-height-2 ps-2">
												<span
													class="text-4 font-weight-medium text-dark negative-ls-05">Academic
													Training</span>
											</div>
										</div>

									</div>
									<div class="d-flex mb-4 justify-content-center justify-content-lg-start">
										<div class="feature-box align-items-center me-4 appear-animation"
											data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
											<div
												class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
												<i class="fa-solid fa-check-double text-secondary"></i>
											</div>
											<div class="feature-box-info line-height-2 ps-2">
												<span
													class="text-4 font-weight-medium text-dark negative-ls-05">E-Classroom</span>
											</div>
										</div>

										<div class="feature-box align-items-center appear-animation pl-4" style="padding-left: 30px;"
											data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
											<div
												class="feature-box-icon box-shadow-2 bg-light border custom-border-color-1">
												
												<i class="fa-solid fa-check-double text-secondary"></i>
											</div>
											<div class="feature-box-info line-height-2 ps-2" href:"\Gen_AI">
												<span class="text-4 font-weight-medium text-dark negative-ls-05">Gen
													AI</span>
											</div>
										</div>

									</div>

									<div class="appear-animation" data-appear-animation="fadeInUpShorter"
										data-appear-animation-delay="500">
										<a href="#"
											class="btn btn-modern btn-effect-4 btn-rounded btn-dark text-transform-none text-3 font-weight-medium mt-2 mb-2">Lets Talk <i class="fas fa-arrow-right rotate-l-45 ms-2"></i></a>
									</div>
								</div>
								<div class="col text-lg-end mt-3 mt-lg-0 px-3 px-lg-0 custom-pos-2 just py- my-1" style="padding-top: 100px; background:transparent ;">

									 
										
										
											
											<div class="p-relative z-index-1 appear-animation" style="display: grid; justify-content: center; align-items: center; background: transparent;"
												data-appear-animation="fadeInUpShorter"
												data-appear-animation-delay="400">
												<div data-plugin-float-element
													data-plugin-options="{'minWidth': 0, 'startPos': 'bottom', 'speed': 6.0, 'transition': true, 'transitionDuration': 1000}" style="background: transparent;">
													<div
														class="custom-box-1 p-relative custom-pos-12 d-inline-block p-relative bg-light custom-border-radius-1 border-0 text-center " >
														<img src="assets/img/Home - banner.png"
															alt="" class="img" style="height: 100%; width: 450px; border-radius: 20px;"  >
													</div>
												</div>
											</div>
										
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- end-banner -->
			</div>



			<!-- <div role="main" class="main px-3 px-lg-5 ">

				about us 
				<div class="container py-5">
					<div class="row py-5 text-center text-xl-start align-items-center">
						<div class="col-xl-6 ">
							<div class="overflow-hidden">
								 <div class="timeline-number bg-color-secondary box-shadow-8">
									<h3 class="text-light text-5">About Us</h3>
								</div>
								<div class="appear-animation " data-appear-animation="maskUp" data-appear-animation-delay="0">
									<h3 class="custom-font-1  " >
										We <strong class="text-primary">boost </strong> organizational efficiency and 
										<span class="" data-appear-animation="" data-appear-animation-delay="1500" style="animation-delay: 1500ms; text-shadow: 2px 2px 5px #6b39f8;">
										  innovation
										</span> 
										through digital <strong class="text-secondary"> transformation. </strong> 
									  </h3>
									  
																	  </div>
							</div>
						</div>
						<div class="col-xl-6 pt-5 pt-xl-0">
							<div class="appear-animation" data-appear-animation="fadeIn"
								data-appear-animation-delay="800">

								<div class="col-lg-12" style="border-radius: 300px;">
									<img class="img-fluid rounded mb-4 pl-4" src="assets/img/idea.png"
										alt="Project Image" style="height: 400px; width:auto; border-radius: 300px;  jus">

								</div>
							</div>

						</div>
					</div>
				</div> 
								 end-aboutus
			</div> -->


			<div role="main" class="main">
				<!-- Partner -->

				
				<div class="container pt-3 pt-lg-4 pb-3 pb-lg-5">

					<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center" >
							Esteemed Guest
						</h2>
					</div>
				
					<!-- row1 -->
					<div class="row align-items-center text-center">
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								<img src="assets/img/1.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="100">
								<img src="assets/img/2.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<img src="assets/img/3.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="300">
								<img src="assets/img/4.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<img src="assets/img/5.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="500">
								<img src="assets/img/6.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<!-- Add the rest of your columns here... -->
					</div>

					<!-- row2 (Initially hidden on mobile) -->
					<div class="row align-items-center text-center toggle-rows" >
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								<img src="assets/img/7.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4 ">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="100">
								<img src="assets/img/8.jpg" alt="" class="img-fluid ">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<img src="assets/img/9.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="300">
								<img src="assets/img/10.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<img src="assets/img/2.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="500">
								<img src="assets/img/11.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<!-- Add the rest of your columns here... -->
					</div>
					<!-- row3 -->
					<div class="row align-items-center text-center toggle-rows">
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								<img src="assets/img/12.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="100">
								<img src="assets/img/13.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<img src="assets/img/14.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="300">
								<img src="assets/img/15.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<img src="assets/img/16.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="500">
								<img src="assets/img/17.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<!-- row4 -->
					<div class="row align-items-center text-center toggle-rows">
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								<img src="assets/img/18.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="100">
								<img src="assets/img/19.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<img src="assets/img/20.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="300">
								<img src="assets/img/21.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<img src="assets/img/22.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="500">
								<img src="assets/img/23.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<!-- row5 -->
					<div class="row align-items-center text-center toggle-rows ">
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="0">
								<img src="assets/img/24.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="100">
								<img src="assets/img/25.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<img src="assets/img/26.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="300">
								<img src="assets/img/27.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<img src="assets/img/28.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-6 col-sm-4 col-xl-2 mb-5 mb-xl-4">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="500">
								<img src="assets/img/29.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<!-- Button for mobile view only -->
					<div class="text-center my-4 d-block d-md-none">
						<button id="toggleRows" class="btn btn-primary">Show More</button>
					</div>
				
					
				
				</div>
				
				
				<!-- End-Partner -->

				<!-- Our Services -->

				<section class="section border-0 bg-quaternary m-0">
					<div class="container py-5">
						<div class="row justify-content-center">
							<div class="col col-lg-9 text-center">

								<div class="divider divider-small divider-small-lg mt-0 text-center appear-animation"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
									<hr class="bg-primary border-radius m-auto">
								</div>

								<h2 class="text-color-dark font-weight-bold text-8 pb-4 mb-0 appear-animation"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Services
								</h2>


							</div>
						</div>

						<div class="row py-2 pt-2 appear-animation" data-appear-animation="fadeIn"
							data-appear-animation-delay="300">
							<div class="col-md-4 mb-4 mb-md-0 col-xl-4">
								<div
									class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
									<div class="card-body p-relative zindex-1 p-5 ">
										<div class="anim-hover-inner-translate-top-20px transition-3ms text-center">
											<img width="72" class="text-center" height="73"
												src="assets/img/index/IT infrastructure.png" alt=""
												data-icon
												data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
											<h4 class="card-title mt-4 mb-2 text-5 font-weight-medium text-center">IT Infrastructure</h4>
											<p class="card-text text-3-5 text-center">Robust IT infrastructure ensures seamless connectivity and efficient operations.</p>
										</div>
										<div
											class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
											<a href="/sevices"
												class="read-more text-color-primary font-weight-semibold mt-2 text-2">View
												More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4 mb-md-0 col-xl-4">
								<div
									class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
									<div class="card-body p-relative zindex-1 p-5 text-center ">
										<div class="anim-hover-inner-translate-top-20px transition-3ms">
											<img width="72" height="73"
												src="assets/img/index/Training Academic.png" alt=""
												data-icon
												data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
											<h4 class="card-title mt-4 mb-2 text-5 font-weight-medium">Academic Training</h4>
											<p class="card-text text-3-5">Academic training fosters essential knowledge and skills for growth.</p>
										</div>
										<div
											class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
											<a href="sevices"
												class="read-more text-color-primary font-weight-semibold mt-2 text-2">View
												More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4 mb-4 mb-md-0 col-xl-4">
								<div
									class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
									<div class="card-body p-relative zindex-1 p-5 text-center">
										<div class="anim-hover-inner-translate-top-20px transition-3ms">
											<img width="72" height="73"
												src="assets/img/index/E-Classroom Solutions.png" alt=""
												data-icon
												data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
											<h4 class="card-title mt-4 mb-2 text-5 font-weight-medium">E-Classroom Solutions</h4>
											<p class="card-text text-3-5">E-Classroom solutions enhance education through interactive digital tools.</p>
										</div>
										<div
											class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
											<a href="/EClassroomSolutions"
												class="read-more text-color-primary font-weight-semibold mt-2 text-2">View
												More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row py-2 appear-animation" data-appear-animation="fadeIn"
							data-appear-animation-delay="300" style="display: flex; justify-content: center;">
							<div class="col-md-4 mb-4 mb-md-0 col-xl-4">

								<div
									class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
									<div class="card-body p-relative zindex-1 p-5 text-center">
										<div class="anim-hover-inner-translate-top-20px transition-3ms">
											<img width="72" height="73"
												src="assets/img/index/Digitaltransformation.png" alt=""
												data-icon
												data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
											<h4 class="card-title mt-4 mb-2 text-5 font-weight-medium">Digital Transformation</h4>
											<p class="card-text text-3-5">Digital transformation drives innovation and efficiency in organizations.</p>
										</div>
										<div
											class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
											<a href="sevices"
												class="read-more text-color-primary font-weight-semibold mt-2 text-2">View
												More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-4 mb-md-0 col-xl-4">
								<div
									class="card card-border card-border-top card-border-hover bg-color-light border-0 box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms anim-hover-inner-wrapper">
									<div class="card-body p-relative zindex-1 p-5 text-center">
										<div class="anim-hover-inner-translate-top-20px transition-3ms">
											<img width="72" height="73"
												src="assets/img/index/Gen AI.png" alt=""
												data-icon
												data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
											<h4 class="card-title mt-4 mb-2 text-5 font-weight-medium">Gen AI</h4>
											<p class="card-text text-3-5">Generative AI creates new possibilities by enhancing creativity and productivity.</p>
										</div>
										<div
											class="w-100 text-center p-absolute opacity-0 bottom-30 left-0 transformY-p100 anim-hover-inner-opacity-10 anim-hover-inner-translate-top-0px transition-4ms">
											<a href="sevices"
												class="read-more text-color-primary font-weight-semibold mt-2 text-2">View
												More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</section>
				<!-- end-our services -->



				

				<!-- Why Choose Us -->
				<div class="container pt-4 pb-5 pt-lg-5">
					<div class="row align-items-center py-5">
						<div class="col-lg-6 mb-5 mb-lg-0 pe-lg-5">
							<div class="appear-animation" data-appear-animation="fadeInRightShorter"
								data-appear-animation-delay="0">
								<span
									class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span
										class="d-inline-flex py-1 px-2">Let’s Work Together</span></span>
							</div>
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Why Choose Us?
								</h2>
							</div>
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="400">
								<p>At Revonnate, we empower organizations to elevate their digital potential and optimize operations, providing innovative, customized solutions that drive smarter, faster, and more efficient growth in a dynamic world.</p>
							</div>
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="600">
								<div class="d-flex pt-3 align-items-center">
									<a href="/ContactUs"
										class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1"
										data-clone-element="1">
										<span>Contact Us <i
												class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 p-relative">
							<div class="accordion accordion-modern-status accordion-modern-status-arrow accordion-modern-status-arrow-dark"
								id="accordionWhyChooseUs">
								<div class="card card-default box-shadow-8 border-radius-2 bg-light">
									<div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingOne">
										<h4 class="card-title m-0">
											<a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed"
												data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsOne"
												aria-expanded="false" aria-controls="collapseWhyChooseUsOne">
												Expert Team
											</a>
										</h4>
									</div>
									<div id="collapseWhyChooseUsOne" class="collapse"
										aria-labelledby="collapseWhyChooseUsHeadingOne"
										data-bs-parent="#accordionWhyChooseUs">
										<div class="card-body pt-0">
											<p class="mb-0">Our certified accountants offer expert, personalized financial guidance to help your business thrive with reliable and results-driven solutions.</p>
										</div>
									</div>
								</div>
								<div class="card card-default box-shadow-8 border-radius-2 bg-light">
									<div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingTwo">
										<h4 class="card-title m-0">
											<a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed"
												data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsTwo"
												aria-expanded="false" aria-controls="collapseWhyChooseUsTwo">
												Personalized Approach
											</a>
										</h4>
									</div>
									<div id="collapseWhyChooseUsTwo" class="collapse"
										aria-labelledby="collapseWhyChooseUsHeadingTwo"
										data-bs-parent="#accordionWhyChooseUs">
										<div class="card-body pt-0">
											<p class="mb-0"> Tailored solutions for your unique financial needs, with dedicated support to achieve your goals and drive long-term success.  </p>
										</div>
									</div>
								</div>
								<div class="card card-default box-shadow-8 border-radius-2 bg-light">
									<div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingThree">
										<h4 class="card-title m-0">
											<a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed"
												data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsThree"
												aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
												Reliable Service
											</a>
										</h4>
									</div>
									<div id="collapseWhyChooseUsThree" class="collapse"
										aria-labelledby="collapseWhyChooseUsHeadingThree"
										data-bs-parent="#accordionWhyChooseUs">
										<div class="card-body pt-0">
											<p class="mb-0">  We deliver precise financial solutions that guarantee peace of mind and empower informed business decisions for growth and success.  </p>
										</div>
									</div>
								</div>
								<div class="card card-default box-shadow-8 border-radius-2 bg-light">
									<div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingFour">
										<h4 class="card-title m-0">
											<a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed"
												data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsFour"
												aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
												Client-Centric Focus
											</a>
										</h4>
									</div>
									<div id="collapseWhyChooseUsFour" class="collapse"
										aria-labelledby="collapseWhyChooseUsHeadingFour"
										data-bs-parent="#accordionWhyChooseUs">
										<div class="card-body pt-0">
											<p class="mb-0">  We prioritize your needs with a client-centric focus, fostering strong relationships through tailored services, driven by your success to exceed expectations.    </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end-Why Choose Us -->

				<!-- Gallery -->
				<div class="bg-dark py-3">
					<div class="container ">
						<div class="row pt-2 text-center py-3">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-light pt-4">Gallery</h2>
							</div>
						</div>
						<div class="row " style="margin-bottom:30px;">
							<div class="col-lg-3 col-ml-1 col-md-4 col-sm-6 col-xs-12 mb-4 mb-lg-0 pb-2">

								<span class="img-thumbnail d-block ">
									<img class="img-fluid" style="height: 250px;" width="100%"
										src="assets/img/gallery/image-013.jpg" alt="Project Image">
								</span>
							</div>
							<div class="col-lg-3 col-ml-1 col-md-4 col-sm-6 col-xs-12 mb-4 mb-lg-0  pb-2">
								<span class="img-thumbnail d-block">
									<img class="img-fluid" style="height: 250px;" width="100%"
										src="assets/img/gallery/image-014.jpg" alt="Project Image">
								</span>
							</div>
							<div class="col-lg-3 col-ml-1 col-md-4 col-sm-6 col-xs-12 mb-4 mb-lg-0   pb-2">

								<span class="img-thumbnail d-block">
									<img class="img-fluid" style="height: 250px;" width="100%"
										src="assets/img/gallery/image-015.jpg" alt="Project Image">
								</span>
							</div>
							<div class="col-lg-3 col-ml-1 col-md-4 col-sm-6 col-xs-12 mb-4 mb-lg-0  ">
								<span class="img-thumbnail d-block">
									<img class="img-fluid" style="height: 250px;" width="100%"
										src="assets/img/gallery/image-016.jpg" alt="Project Image">
								</span>
							</div>

						</div>
					</div>
					<div class="appear-animation text-center mb-2" data-appear-animation="fadeInleftShorter"
						data-appear-animation-delay="500">
						<a href="/Gallery"
							class="btn btn-modern btn-effect-4  btn-light text-dark text-transform-none text-3 font-weight-medium mt-2 mb-2">View
							More <i class="fas fa-arrow-right rotate-l-45 ms-2"></i></a>
					</div>
				</div>

				<!-- end-Gallery -->

				<!-- industry Solution -->
				<div class="container">
					<div class="appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="200">
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-center py-5">Industry
							Solutions</h2>
					</div>
					<div class="row mb-5 pb-3">
						<div class="col-md-4 col-lg-4 pb-4 " style="min-height: 356px;">
							<a href="/IndustrySolutions">
								<span
									class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay"
									href="/IndustrySolutions">
									<span class="thumb-info-wrapper custom-border-radius-1">
										<img width="100%"
											src="assets/img/industrysolution/Industry solutions - Collaborative Robots (Cobots).png"
											class="img-fluid" style="height:400px;" alt="">
										<span class="thumb-info-title bg-light w-100 mw-100">
											<span class="thumb-info-inner text-dark pb-3">
												<span class="text-4 pt-2 d-inline-flex">Collaborative Robots(Cobots)<br>
												</span>

											</span>
											<p>Robots that work hand-in-hand with people to boost productivity and
												improve workplace safety.</p>
										</span>
									</span>
								</span>
								</span>
							</a>
						</div>
						<div class="col-md-4 col-lg-4 pb-4" style="height: 356pxs;">
							<a href="/IndustrySolutions" >
								<span
									class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
									<span class="thumb-info-wrapper custom-border-radius-1">
										<img src="assets/img/industrysolution/Industry solutions - AI-Driven Personalization.png"
											class="img-fluid" style="height: 400px;" alt="">
										<span class="thumb-info-title bg-light w-100 mw-100">
											<span class="thumb-info-inner text-dark pb-3">
												<span class="text-4 pt-2 d-inline-flex">AI-Driven Personalization
												</span>

											</span>
											<span class="d-inline-flex">
												<p>Leveraging AI to customize products and services to suit individual
													customer preferences and needs.</p>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<a href="/IndustrySolutions" >
								<span
									class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
									<span class="thumb-info-wrapper custom-border-radius-1">
										<img src="assets/img/industrysolution/Industry solutions - Eco-Friendly Manufacturing Technologies.png"
											class="img-fluid" style="height: 400px;" alt="">
										<span class="thumb-info-title bg-light w-100 mw-100">
											<span class="thumb-info-inner text-dark pb-3">
												<span class="text-4 pt-2 d-inline-flex">Eco-Friendly Manufacturing
												</span>
												</em>
											</span>
											<span class="d-inline-flex ">
												<p>Introducing green manufacturing methods to cut on emissions and
													minimize waste.</p>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>

						<div class="appear-animation text-center mb-2" data-appear-animation="fadeInleftShorter"
						data-appear-animation-delay="500">
						<a href="/IndustrySolutions"
							class="btn btn-modern btn-effect-4 bg-dark btn-light text-light text-transform-none text-3 font-weight-medium mt-2 mb-2">View
							More <i class="fas fa-arrow-right rotate-l-45 ms-2"></i></a>
					</div>
						
					</div>
				</div>
				<!-- end-industry Solution -->

				<!-- CTA -->

				<!-- <div class="custom-bg-gradient-1 pt-5 py-1 mb-2">
					<div class="container ">
						<div class="row  justify-content-center">
							<div class="col-lg-8 text-center">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter"
									data-appear-animation-delay="0">

									<h4 class="custom-font-1 mb-0">Build a Future-Ready Workforce</h4>
									<a href="#"
										class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's
										Talk!</a>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- end-CTA -->

				<!-- What Our Clients Say -->
				<div class="container pb-5 pt-4">
					<div class="row">
						<div class="col-lg-6 mb-5 mb-lg-0 p-relative z-index-1">
							<div class="sticky-container h-100">
								<div data-plugin-sticky
									data-plugin-options="{'minWidth': 0, 'containerSelector': '.sticky-container', 'padding': {'top': 0, 'bottom': 0}}">
									<div class="appear-animation" data-appear-animation="fadeInRightShorter"
										data-appear-animation-delay="0">
										
											
									</div>
									<div class="appear-animation" data-appear-animation="fadeInUpShorter"
										data-appear-animation-delay="200">
										<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">What Our
											Clients Say</h2>
									</div>
									<div class="appear-animation" data-appear-animation="fadeInUpShorter"
										data-appear-animation-delay="400">
										<p>At Revonnate, we empower organizations by transforming their digital capabilities and enhancing operational efficiency.</p>
									</div>

									<div class="appear-animation" data-appear-animation="fadeInUpShorter"
										data-appear-animation-delay="600">
										
									</div>

									<div class="appear-animation" data-appear-animation="fadeInUpShorter"
										data-appear-animation-delay="800">
										<div class="d-flex pt-4 align-items-center">
											<a href="/ContactUs"
												class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1"
												data-clone-element="1">
												<span>View More<i
														class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
									<div class="card-body py-3 px-2">
										<div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
											<div class="testimonial-author pb-3">

													
												
												<p><strong class="font-weight-bold">Student from 3rd Year
														EEE</strong><span>St. Joseph's T.T.I.T College, Chennai</span>
												</p>
											</div>
											<div class="px-4 mx-2 pt-2 pb-3">
												<p>I would like thank Netalla and our college to organize this
													training. I had an opportunity to learn RPA through other companies,
													but Blue Prism RPA is much practical and easier to implement. Gives
													us more scalability to automate</p>
												<p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
									<div class="card-body py-3 px-2">
										<div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
											<div class="testimonial-author pb-3">
												
												<p><strong class="font-weight-bold">Prof Mahesh Verma,</strong><span>Vice Chancellor of Guru Gobind Singh Indraprastha University, Delhi</span></p>
											</div>
											<div class="px-4 mx-2 pt-2 pb-3">
												<p>We are honored to have you as part of Blue Prism University Academia Program in partnership with Netalla Innovations Pvt. Ltd., our authorized academia partner. We are confident you will bring the Connected-RPA skills and knowledge to your instructors and students. Congratulations!</p>
												<p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="appear-animation" data-appear-animation="fadeInUpShorter"
								data-appear-animation-delay="200">
								<div class="card border-radius-2 bg-color-light border-0 box-shadow-9">
									<div class="card-body py-3 px-2">
										<div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
											<div class="testimonial-author pb-3">
												
												<p><strong class="font-weight-bold">Student from 3rd Year EEE</strong><span>St. Joseph's T.T.I.T College, Chennai</span></p>
											</div>
											<div class="px-4 mx-2 pt-2 pb-3">
												<p>This training by Netalla helped us to get inclined towards the RPA technology. We could see the output immediately as we complete the coding and that motivated me as a technical person</p>
												<p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i><i
														class="fas fa-star custom-text-color-2 text-2"></i></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- end-What Our Clients Say -->


			</div>

			<%- include("./partials/CTA") -%>

			<!-- footer -->

			<%- include("./partials/footer") -%>

				<!-- end-footer -->

	</div>
	<script>
		document.getElementById("toggleRows").addEventListener("click", function() {
			var rows = document.querySelectorAll('.toggle-rows');
			rows.forEach(function(row) {
				if (window.innerWidth <= 500) {
					// Toggle display for mobile view
					row.style.display = row.style.display === "none" || row.style.display === "" ? "block" : "none";
				}
			});
			// Change button text based on visibility
			this.textContent = this.textContent === "Show More" ? "Show Less" : "Show More";
		});
	
		// Initially hide rows on mobile view
		window.onload = function() {
			if (window.innerWidth <= 500) {
				var rows = document.querySelectorAll('.toggle-rows');
				rows.forEach(function(row) {
					row.style.display = "none";
				});
			}
		};
	</script>
		<script src="assets/vendor/plugins/js/plugins.min.js"></script>
		<script src="assets/vendor/gsap/gsap.min.js"></script>
		<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/js/theme.js"></script>

		<!-- Demo -->
		<script src="assets/js/demos/demo-marketing-1.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/js/theme.init.js"></script>

		<!-- Examples -->
		<script src="assets/js/examples/examples.animations.js"></script>

</body>

</html>