<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Industry Solutions</title>	

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/css/theme.css">
		<link rel="stylesheet" href="assets/css/theme-elements.css">
		<link rel="stylesheet" href="assets/css/theme-blog.css">
		<link rel="stylesheet" href="assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-marketing-1.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/css/custom.css">

	</head>
	<body data-plugin-cursor-effect>
		<div class="body">

			<!--Header-->
			<%- include("./partials/header") -%>
			<!--end-Header-->

			<div role="main" class="main">
				<!-- banner -->
				<section class="page-header page-header-modern page-header-background parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="assets/img/demos/marketing-1/generic/generic-8.jpg">
					<div class="container">
						<div class="row py-5">
							<div class="col align-self-center p-static">
								<div data-plugin-float-element data-plugin-options="{'minWindowWidth': 992, 'startPos': 'bottom', 'speed': 0.4, 'transition': true, 'transitionDuration': 1000}">
									<ul class="breadcrumb d-flex text-4-5">
										<li><a href="/about" class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">Home</a></li>
										<li class="active text-color-primary text-transform-none">Industry Solutions</li>
									</ul>
									<h1 class="text-color-dark font-weight-semi-bold text-lg-12 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0"><mark class="bg-transparent d-inline-block p-0 mark mark-color mark-color-tertiary">Industry Solutions </mark></h1>
								</div>
							</div>

						</div>
					</div>
				</section>
                <!-- end-banner -->

				<!-- Technologies -->
				<div class="container py-5">
					<div class="row py-5 justify-content-center">
						<div class="col-lg-8 text-center">
							<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
								  
								<h3 class="custom-font-1 mb-0">  <strong class="text-primary">Transforming</strong>  Operations through <strong class="text-secondary">Human-Centric</strong> Technology</h3>
							</div>
							<div class="p-relative z-index-1 pt-4">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
									<img src="assets/img/demos/marketing-1/svg/generic-5.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary'}" />
								</div>
							</div>
						</div>
					</div>
					<div class="row py-5">
												
						<div class="col-md-4 col-lg-4 pb-4 " style="height: 356px;">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img width="100%" src="assets/img/industrysolution/Industry solutions - Collaborative Robots (Cobots).png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Collaborative Robots(Cobots)<br>  </span>
											
										</span>
											<p>Robots that work hand-in-hand with people to boost productivity and improve workplace safety.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4" style="height: 356pxs;">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - AI-Driven Personalization.png" class="img-fluid" style="height: 450px;"	alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">AI-Driven Personalization
											</span>
											
										</span>
										<span class="d-inline-flex">
											<p>Leveraging AI to customize products and services to suit individual customer preferences and needs.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Eco-Friendly Manufacturing Technologies.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Eco-Friendly Manufacturing Technologies
											</span>
											</em>
										</span>
										<span class="d-inline-flex " >
											<p>Introducing green manufacturing methods and technologies to cut down on carbon emissions and minimize waste.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Supply Chain Digital Twins.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Supply Chain Digital Twins</span>
										</span>
										<span class="d-inline-flex">
											<p>Creating digital copies of supply chains for real-time tracking and better optimization.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - IOT.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">IoT-Enabled Smart Factories</span>
										</span>
										<span class="d-inline-flex">
											<p>Building interconnected factories that run more efficiently by relying on data-driven operations.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Predictive Analytics for Maintenance.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Predictive Analytics for Maintenance
											</span>
										</span>
										<span class="d-inline-flex">
											<p>Using AI to forecast equipment issues before they happen, enabling better maintenance planning.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - AR_VR for Training and Maintenance.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">AR/VR for Training and Maintenance
											</span>
										</span>
										<span class="d-inline-flex">
											<p>Incorporating augmented and virtual reality to make employee training and maintenance processes more engaging and effective.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Big Data Analytics.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Big Data Analytics
											</span>
										</span>
										<span class="d-inline-flex">
											<p>Sifting through large amounts of data to find valuable insights that can guide business decisions.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Cybersecurity Solutions.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Cybersecurity Solutions

											</span>
										</span>
										<span class="d-inline-flex">
											<p>Implementing strong security strategies to safeguard industrial systems and sensitive data from cyberattacks.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Modern Production.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Flexible and Modular Production Systems

											</span>
										</span>
										<span class="d-inline-flex">
											<p>Embracing adaptable production setups that can easily adjust to shifts in market demand.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Human-Centric Interfaces.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Human-Centric Interfaces


											</span>
										</span>
										<span class="d-inline-flex">
											<p>Designing intuitive, user-friendly interfaces that make it easier for people to interact and collaborate with machines.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						<div class="col-md-4 col-lg-4 pb-4">
							<span class="thumb-info thumb-info-show-button-hover custom-thumb-info thumb-info-no-overlay">
								<span class="thumb-info-wrapper custom-border-radius-1">
									<img src="assets/img/industrysolution/Industry solutions - Sustainable Resource Management.png" class="img-fluid" style="height: 450px;" alt="">
									<span class="thumb-info-title bg-light w-100 mw-100">
										<span class="thumb-info-inner text-dark pb-3">
											<span class="text-4 pt-2 d-inline-flex">Sustainable Resource Management


											</span>
										</span>
										<span class="d-inline-flex">
											<p>Using AI and IoT to manage resources more efficiently, reduce waste, and promote sustainability.</p>	
										</span>
									</span>
								</span>
							</span>
						</div>
						
					
				</div>
				<!--end-Technologies -->
				
				<!-- CTA -->
			
			</div>
				<div class="custom-bg-gradient-1 pt-5 py-1 mb-1">
					<div class="container ">
						<div class="row  justify-content-center">
							<div class="col-lg-8 text-center">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
							
									<h4 class="custom-font-1 mb-0 font text-dark text-6 line-height-10 font-weight-semibold mb-2 fs-3">We manage every part of your marketing journey with skill and unwavering dedication.</h4>
									<a href="#" class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's Talk!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end-CTA -->
			</div>
		
				<!-- footer -->
				<%- include("./partials/footer") -%>

			<!-- end-footer -->
		</div>
		</div>

		<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-marketing-1.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher"><i class="fas fa-cogs"></i><div class="style-switcher-tooltip"><strong>Style Switcher</strong><p>Check out different color options and styles.</p></div></a>

		<!-- Vendor -->
		<script src="assets/vendor/plugins/js/plugins.min.js"></script>
		<script src="assets/vendor/gsap/gsap.min.js"></script>
		<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/js/theme.js"></script>

		<!-- Demo -->
		<script src="assets/js/demos/demo-marketing-1.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/js/theme.init.js"></script>

	<!-- Examples -->
		<script src="assets/js/examples/examples.animations.js"></script>	

	</body>
</html>
