<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>IT Infrastructure</title>

	<meta name="keywords" content="WebSite Template" />
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts"
		href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="assets/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="assets/css/theme.css">
	<link rel="stylesheet" href="assets/css/theme-elements.css">
	<link rel="stylesheet" href="assets/css/theme-blog.css">
	<link rel="stylesheet" href="assets/css/theme-shop.css">

	<!-- Demo CSS -->
	<link rel="stylesheet" href="assets/css/demos/demo-marketing-1.css">
	<link rel="stylesheet" href="assets/css/demos/demo-creative-agency-2.css">
	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="assets/css/skins/skin-marketing-1.css">
	
	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body data-plugin-cursor-effect>
	<div class="progress progress-reading p-fixed top-0 w-100 left-0">
		<div class="progress-bar border-radius-0 bg-color-primary" role="progressbar" style="width: 0%"></div>
	</div>
	<div class="body">
		<p class="mt-5"></p>
		<!--Header-->
		<%- include("./partials/header") -%>
			<!--end-Header-->

			<div role="main" class="main">

				<!-- banner -->
				<div role="main" class="main mt-5">

					<section class="page-header page-header-modern custom-bg-gradient-1 page-header-lg mb-0">
						<div class="container">
							<div class="row py-3 text-center mt-5  text-lg-center ">
								<div class="col-lg-12 order-2 order-lg-1 align-self-center p-static">
									<h1 class="text-color-dark  text-lg-12 appear-animation"
										data-appear-animation="fadeIn" data-appear-animation-delay="0">IT Infrastructure</h1>
								</div>
								<div class="col-lg-4 order-1 order-lg-2 align-self-center">
									<!--<ul class="breadcrumb d-flex justify-content-center justify-content-lg-end text-4-5">
										 <li><a href="/index"
												class="text-color-dark text-color-hover-primary text-transform-none text-decoration-none">Home</a>
										</li>
										<li class="active text-color-primary text-transform-none text-align-center">Contact Us</li>
									</ul> -->
								</div>
							</div>
						</div>
					</section>
	
				</div>
				<!-- end-banner -->
				
				<!-- about -->
				<section class="section bg-color-white section-height-3 border-0  mb-0">					<div class="container">

						<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="200">
							<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
								style="padding-top: 1000px;">Center of Excellence</h2>
						</div>

						<div class=" row">
								<div class="col">

									<div class="row align-items-center pt-4 appear-animation"
										data-appear-animation="fadeInLeftShorter">
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4 " src="assets/img/team/IBM Center of & Excellence.png"
												alt="style switcher" />
										</div>
										<div class="col-md-8 ps-md-5">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">IBM</strong> Center of &amp; Excellence

											</h2>
											<p class="text-4">Emerging technologies in Cybersecurity focus on protecting
												digital infrastructure through advanced solutions like network security,
												cloud consumer security, and infrastructure protection. With the rise of
												cyber threats, securing data and systems is more critical than ever.</p>
											<p>Cyber Forensics complements cybersecurity by equipping professionals to
												investigate and solve cybercrimes. Key areas include malware detection,
												incident response, and e-discovery, helping to trace and analyze digital
												evidence to mitigate security breaches effectively.</p>

										</div>
									</div>

									<hr class="solid my-5">

									<div class="row align-items-center pt-5 pb-3 appear-animation"
										data-appear-animation="fadeInRightShorter">
										<div class="col-md-8 pe-md-5 mb-5 mb-md-0">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Blue Prism </strong>Center of &amp; Excellence

											</h2>
											<p class="text-4">AI and ML are revolutionizing industries by automating
												decision-making
												and enhancing predictive capabilities. Key technologies like Natural
												Language
												Processing (NLP), Deep Learning, and Speech Recognition are driving
												innovation in
												fields such as healthcare, finance, and e-commerce.</p>

										</div>
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/team/blue prism.png"
												alt="style switcher" />
										</div>
									</div>
									<hr class="solid my-5">
									<div class="row align-items-center pt-4 appear-animation"
										data-appear-animation="fadeInLeftShorter">
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/team/CISCO.png"
												alt="style switcher" />
										</div>
										<div class="col-md-8 ps-md-5">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Cisco </strong>Center of &amp; Excellence


											</h2>
											<p class="text-4">Emerging technologies in Cybersecurity focus on protecting
												digital infrastructure through advanced solutions like network security,
												cloud consumer security, and infrastructure protection. With the rise of
												cyber threats, securing data and systems is more critical than ever.</p>
											<p>Cyber Forensics complements cybersecurity by equipping professionals to
												investigate and solve cybercrimes. Key areas include malware detection,
												incident response, and e-discovery, helping to trace and analyze digital
												evidence to mitigate security breaches effectively.</p>

										</div>
									</div>

									<hr class="solid my-5">

									<div class="row align-items-center pt-5 pb-3 appear-animation"
										data-appear-animation="fadeInRightShorter">
										<div class="col-md-8 pe-md-5 mb-5 mb-md-0">
											<h2 class="font-weight-normal text-6 mb-3"><strong
													class="font-weight-extra-bold">Netalla AI
												</strong> Integrated &amp; IoT CoE
											</h2>
											<p class="text-4">IoT is in high demand across industries like medicine, manufacturing, retail, IT, education, and more. At Netalla CoE, trainees receive comprehensive training with AI-integrated IoT tools, including hardware, software, licenses, and the Petals AI-IoT Research Kit.<br><br> Using the Petals MYO Automation suite, they can develop real-time prototypes for home, enterprise, and institute automation, gaining hands-on experience in cutting-edge technology.</p>
											
										</div>
										<div class="col-md-4 px-5 px-md-3">
											<img class="img-fluid scale-2 my-4" src="assets/img/team/Netalla AI.png"
												alt="style switcher" />
										</div>
									</div>

								</div>
						</div>

					</div>
				</section>
				<!-- end-about -->

				<!-- Educational Institutions -->
				<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="200">
							<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center"
								style="padding-top: 1000px;">Educational Institutions</h2>
				</div>
				<div class="contanier py-5 px-5">
					<div class="row mb-5 pb-3">

						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							

							<div class="card  rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<img src="assets/img/gallery/Netalla-Icons-new.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px; justify-content: flex-start;" />
										<div class="col">

											<div class="row align-items-center pt-4 appear-animation"
												data-appear-animation="fadeInLeftShorter">
												<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 ">IBM Labs:</h3>
												</h3>
				
												
				
				
				
											</div>
										</div>
			
										<p class="">IBM partners with universities and research institutes to provide students with hands-on experience using cutting-edge technologies in artificial intelligence (AI), cloud computing, and automation. These collaborations help bridge the gap between theoretical learning and real-world application, preparing students for industry demands.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation "
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							

							<div class="card  rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<img src="assets/img/gallery/Netalla-Icons-new.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px; justify-content: flex-start;" />
										<div class="col">

											<div class="row align-items-center pt-4 appear-animation"
												data-appear-animation="fadeInLeftShorter">
												<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 ">Blue Prism RPA Labs:</h3>
												</h3>
				
												
				
				
				
											</div>
										</div>
			
										<p class="">Blue Prism RPA Labs collaborate with academic institutions to offer students practical experience in robotic process automation (RPA). By working with industry-standard RPA tools, students gain valuable insights into automation technologies widely used across various sectors.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation mt-4"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							

							<div class="card  rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<img src="assets/img/gallery/Netalla-Icons-new.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px; justify-content: flex-start;" />
										<div class="col">

											<div class="row align-items-center pt-4 appear-animation"
												data-appear-animation="fadeInLeftShorter">
												<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 ">Cisco Networking Academy:</h3>
												</h3>
				
												
				
				
				
											</div>
										</div>
			
										<p class="">Cisco’s Networking Academy works closely with educational institutions to offer a comprehensive range of training programs in networking, cybersecurity, and the Internet of Things (IoT). These programs provide students with the skills and certifications needed to succeed in technology-driven industries.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation mt-4"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							

							<div class="card  rounded-0">
								<div class="p-5">
									<div class="content my-4">
										<img src="assets/img/gallery/Netalla-Icons-new.png" alt="Description of image"
										class="img-fluid text-color-primary" style="width: 60px; height: 60px; justify-content: flex-start;" />
										<div class="col">

											<div class="row align-items-center pt-4 appear-animation"
												data-appear-animation="fadeInLeftShorter">
												<h3 class="text-dark mb-3 text-8 ls-0 line-height-1 ">Netalla AI Integrated IoT:</h3>
												</h3>
				
												
				
				
				
											</div>
										</div>
			
										<p class="">IBM partners with universities and research institutes to provide students with hands-on experience using cutting-edge technologies in artificial intelligence (AI), cloud computing, and automation. These collaborations help bridge the gap between theoretical learning and real-world application, preparing students for industry demands.</p>
									</div>
								</div>
							</div>
						</div>
						



					</div>
				</div>
				<!-- end-Educational Institutions -->

				<!-- Key Benefits -->
				
				<div role="main" class="main  px-lg-5">
					<div class="contanier">
						<div class="col-md-6 col-lg-12 mb-5 mb-lg-0 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<h2 class="mb-4 pb-2 text-10 font-weight-semibold ls-0 text-center">Key Benefits</h2>
						</div>
					</div>
				</div>
				<div class="container px-">
					<div class="row mb-5 pb-3">
				
						<div class="col-md-6 col-lg-3 mb-5 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
				
							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h3 class="card-title text-center pb-2">IBM Labs</h3>
									<ul class="list-unstyled mb-0">
										<li class="mb-2"><strong>Endorsements:</strong> Social media promotions for "IBM AI Expert" certification.</li>
										<li class="mb-2"><strong>Collaboration:</strong> Faculty visits to IBM labs and industry partnerships.</li>
										<li class="mb-2"><strong>Training Programs:</strong> Short-term training opportunities.</li>
										<li class="mb-2"><strong>Showcase Projects:</strong> Platform for students to present projects.</li>
										<li class="mb-2"><strong>Employability:</strong> Prepares students for an AI-driven economy.</li>
									</ul>
								</div>
							</div>
						</div>
				
						<div class="col-md-6 col-lg-3 mb-5 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
				
							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h3 class="card-title text-center pb-2">BLUE PRISM & RPA Labs</h3>
									<ul class="list-unstyled mb-0">
										<li class="mb-2"><strong>For Students:</strong> Enhanced RPA skills with Blue Prism certification.</li>
										<li class="mb-2"><strong>For Faculty:</strong> Training in RPA concepts and hands-on experience.</li>
										<li class="mb-2"><strong>For Institutions:</strong> Accreditation and revenue generation opportunities.</li>
										<li class="mb-2"><strong>Netalla Advantage:</strong> Access to RPA kits and relevant resources.</li>
									</ul>
								</div>
							</div>
						</div>
				
						<div class="col-md-6 col-lg-3 mb-5 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
				
							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h3 class="card-title text-center pb-2">Cisco Networking Academy</h3>
									<ul class="list-unstyled mb-0">
										<li class="mb-2"><strong>Coursework:</strong> Flexible learning environment with a dashboard.</li>
										<li class="mb-2"><strong>Community Support:</strong> Student forums and peer interaction.</li>
										<li class="mb-2"><strong>Career Advancement:</strong> Industry-recognized certificate of completion.</li>
										<li class="mb-2"><strong>Certification:</strong> Globally recognized professional certification.</li>
									</ul>
								</div>
							</div>
						</div>
				
						<div class="col-md-6 col-lg-3 mb-5 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
				
							<div class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
								<div class="card-body">
									<h3 class="card-title text-center pb-2">Netalla AI Integrated IoT</h3>
									<ul class="list-unstyled mb-0">
										<li class="mb-2"><strong>For Institutions:</strong> AI-integrated IoT lab with full support.</li>
										<li class="mb-2"><strong>Recognition:</strong> National leader in AI-integrated IoT development.</li>
										<li class="mb-2"><strong>Scalable Training:</strong> Infrastructure for corporate training.</li>
										<li class="mb-2"><strong>Long-term Support:</strong> 5 years of training support for faculty and students.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				

				
				
				

				<!-- end-Key Benefits -->
				<!-- page done  -->
				<!-- Curriculum And Certification -->
				<div class="container">
					<div class="row">
						<div class="appear-animation" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="200">
							<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 text-center pt-4">
								Courses and Curriculum</h2>
						</div>
						<div class="contanier px-4">
							<div class="row mb-5 pb-3 mx-5">
		
								<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		
		
									<div
										class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
			
										<div class="card-body">
											<div class="card-body">
												<!--<i class="icon-user-following icons text-color-primary text-8"></i>-->
												<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold"></h4>
												<p class="card-text">
													<tr></tr>
														<td><h3> Essentials in Python</h3></td>
														<td>
														  <ul>
															<li>Learn to code in Python, a versatile and object-oriented language.</li>
															<li> Create your own programs or design web/desktop applications.</li>
															<li>Python is widely used by startups and tech giants.</li>
															
															
														</ul>
														</td>
													  </tr>
												</p>
											</div>
										</div>
									
									</div>
								</div>
		
								<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		
		
									<div
										class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
			
										<div class="card-body">
											<div class="card-body">
												<!--<i class="icon-user-following icons text-color-primary text-8"></i>-->
												<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold"></h4>
												<p class="card-text">
													<tr></tr>
														<td><h3>Entrepreneurship</h3></td>
														<td>
														  <ul>
															<li> As an entrepreneur, your ventures can influence markets, economies, and communities.</li>
															<li>The course encourages an entrepreneurial mindset, improving job prospects and career growth.</li>
															
														</ul>
														</td>
													  </tr>
												</p>
											</div>
										</div>
									
									</div>
								</div>
		
								<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation pt-4"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		
		
									<div
										class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
			
										<div class="card-body">
											<div class="card-body">
												<!--<i class="icon-user-following icons text-color-primary text-8"></i>-->
												<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold"></h4>
												<p class="card-text">
													<tr></tr>
														<td><h3>Cyber Security</h3></td>
														<td>
														  <ul>
															<li> Cybersecurity roles are growing 3.5 times faster than other technical jobs.</li>
															<li>This course covers common threats, attacks, and vulnerabilities.</li>
															
														</ul>
														</td>
													  </tr>
												</p>
											</div>
										</div>
									
									</div>
								</div>
								<div class="col-md-6 col-lg-6 mb-5 mb-lg-0 appear-animation pt-4"
									data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		
		
									<div
										class="card card-border card-border-top card-border-hover bg-color-light box-shadow-6 box-shadow-hover anim-hover-translate-top-10px transition-3ms">
			
										<div class="card-body">
											<div class="card-body">
												<!--<i class="icon-user-following icons text-color-primary text-8"></i>-->
												<h4 class="card-title mt-2 mb-1 text-4 font-weight-bold"></h4>
												<p class="card-text">
													<tr></tr>
														<td><h3>Internet of Things (IoT)</h3></td>
														<td>
														  <ul>
															<li> Understand how IoT can address major global challenges.</li>
															<li>By 2020, 50 billion devices will be connected to the Internet, creating 1.5 million IoT jobs.</li>
															
															
														</ul>
														</td>
													  </tr>
												</p>
											</div>
										</div>
									
									</div>
								</div>
							</div>
							</div>
					</div>
				</div>
				<!-- end-Curriculum And Certification -->

				

				<!-- about  -->
				
				<div class="container py-5 mx-4">
					<div class="appear-animation pt-3" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" >
						<h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4 pt-4 text-center" style="padding-top: 1000px;">Solution</h2>
					</div>
                    <div class="row justify-content-between align-items-center  pt-5">

                        
						<div class="col-lg-5 px-5 px-md-3">
							<img class="img-fluid scale-2 my-4" src="assets/img/team/Next Generation Networking.png"
								alt="style switcher" style="border-radius: 0px 100px 0px 100px;">
						</div>
						
                        <div class="col-lg-7 pt-5 pt-lg-0 ">
                            <h4 class="text-6">Next Generation Networking</h4>
                            <p class="text-4 mb-0">Ad-hoc self-healing network technologies and adaptive expandable networking architectures are playing a major role in advanced technological innovation. With self-healing adaptive network technology architectures, businesses are empowered to handle technological change with ease. Our next-gen networking solutions enable advances in mobility, cloud and security technologies to be made available for your enterprise, business or organization</p>
							<div class="col">
                                <div class="toggle toggle-minimal toggle-faqs toggle-dark m-0" data-plugin-toggle>
                                    <section class="toggle">
                                        <a class="toggle-title text-4 text-dark">Our approach to creating robust digital infrastructure</a>
                                        <div class="toggle-content">
											<ul>
												<li>
													Data Center Switching Solutions
												</li>
												<li>	
													Enterprise Wireless LAN Solutions
												</li>		
												<li>	
													Software-Defined WAN
												</li>
												<li>
													Application Delivery Controller & Load Balancing Solutions
												</li>	
												<li>
													IoT Solutions & Service
												</li>
											</ul></div>
                                    </section>
                                    
                                </div>
							</div>
							
                        </div>
						<hr class="solid my-5">
                    <div class="row justify-content-between pb-5 align-items-center  pt-5 ">

                        <div class="col-lg-6 pt-5 pt-lg-0">
                            <h4 class="text-6">Data Center and Cloud</h4>
                            <p class="text-4 mb-0">Modern day data centers with distributed cloud infrastructure offer the best way forward in terms of next generation technology solutions. With our years of data center and data management experience, you can plan and personalize a datacenter solution to cater to your distinct needs, and our solutions can be personalised to meet your specific demands. We understand your needs and know that the only way to stay ahead of competition is to innovate in every way possible.</p>
							<div class="col">
                                <div class="toggle toggle-minimal toggle-faqs toggle-dark m-0" data-plugin-toggle>
                                    <section class="toggle">
                                        <a class="toggle-title text-4 text-dark">Our approach to creating robust digital infrastructure</a>
                                        <div class="toggle-content">
											<ul>
												<li>
													Hyper Converged Solutions
												</li>
												<li>	
													Backup & High Availability Solutions
												</li>		
												<li>	
													Software-Defined Storage
												</li>
												<li>
													Virtualization & Container Solutions
												</li>	
												<li>
													Cloud Computing Solutions
												</li>
											</ul></div>
                                    </section>
                                    
                                </div>
							</div>
                        </div>
                        <div class="col-lg-5 px-5 px-md-3">
							<img class="img-fluid scale-2 my-4" src="assets/img/team/Data Center and Cloud.png"
								alt="style switcher" style="border-radius:0px 100px 0px 100px; " />
						</div>
                    </div>
					<hr class="solid my-5">
					<div class="row justify-content-between align-items-center  pt-5 pb-5">

                        <div class="col-lg-5 px-5 px-md-3">
							<img class="img-fluid scale-2 my-4" src="assets/img/team/Enterprise IT security.png"
								alt="style switcher" style="border-radius: 0px 100px 0px 100px;" />
						</div>
                        <div class="col-lg-7 pt-5 pt-lg-0">
                            <h4 class="text-6">Enterprise IT security</h4>
                            <p class="text-4 mb-0">The internet has created an era where everything is accessible everywhere, and customer expectations have evolved accordingly. Companies now need to stay close to their customers to succeed, which has led to the adoption of technologies nearer to the customer. However, this increased accessibility has also brought a rise in cybersecurity threats like malware, phishing, SQL injections, and denial-of-service attacks. These threats can cause data corruption, system outages, or even regulatory fines. Our security solutions tackle these challenges by providing fault-tolerant, self-healing systems that detect and resolve issues early, ensuring the performance and security of your entire infrastructure.</p>
							
							<div class="col">
                                <div class="toggle toggle-minimal toggle-faqs toggle-dark m-0" data-plugin-toggle>
                                    <section class="toggle">
                                        <a class="toggle-title text-4 text-dark">Our approach to creating robust digital infrastructure</a>
                                        <div class="toggle-content">
											<ul>
												<li>
													Web Application & Database
Security Solutions
												</li>
												<li>	
													SIEM & SOC Cybersecurity Solutions:
												</li>		
												<li>	
													Identity & Access
Management Solutions
												</li>
												<li>
													Data Center Firewall & Cloud Security Solutions
												</li>	
												<li>
													Mobile & End-Point
Protection Solutions
												</li>
											</ul></div>
                                    </section>
                                    
                                </div>
							</div>
							
                    </div>
				</div>
				<hr class="solid my-5">
				</div>
		
			</div>
				<!-- end-about and our apporch -->

				<!-- objective -->

				<!-- end-objective -->
				<!-- CTA -->

				<div class="custom-bg-gradient-1 pt-5 py-1">
					<div class="container ">
						<div class="row  justify-content-center">
							<div class="col-lg-8 text-center">
								<div class="appear-animation" data-appear-animation="fadeInUpShorter"
									data-appear-animation-delay="0">

									<h4 class="custom-font-1 mb-0">We handle every aspect of your marketing journey with
										expertise and dedication</h4>
									<a href="#"
										class="text-dark text-hover-primary text-6 line-height-10 text-decoration-underline-2 border-width-2 d-inline-flex mt-5 font-weight-semibold mb-2">Let's
										Talk!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--nd-CTA -->
				
				
				<%- include("./partials/footer") -%>
					
					<!-- end-footer -->




			</div>

			
			

			<!-- Vendor -->
			<script src="assets/vendor/plugins/js/plugins.min.js"></script>
			<script src="assets/vendor/gsap/gsap.min.js"></script>
			<script src="assets/vendor/gsap/ScrollTrigger.min.js"></script>

			<!-- Theme Base, Components and Settings -->
			<script src="assets/js/theme.js"></script>

			<!-- Demo -->
			<script src="assets/js/demos/demo-marketing-1.js"></script>

			<!-- Current Page Vendor and Views -->
			<script src="assets/js/views/view.contact.js"></script>

			<!-- Theme Custom -->
			<script src="assets/js/custom.js"></script>

			<!-- Theme Initialization Files -->
			<script src="assets/js/theme.init.js"></script>

			<!-- Examples -->
			<script src="assets/js/examples/examples.animations.js"></script>

</body>

</html>